/*体验店*/
#store_list{
	width: 95%;
	margin: 0 2.5%;
}
#store_list li{
	width: 100%;
	height: 4.266667rem;
	background: #fff;
	margin-top: 0.426667rem;
	position: relative;
}
#store_list .logo{
	width: 28%;
    height: 4.266667rem;
	float: left;
}
#store_list li .txt{
   width: 65.5%;
   float: left;
   margin-left: 0.426667rem;
   overflow: hidden;
   height: 4.266667rem;
}
#store_list li .txt  p{
    height: 2.133333rem;
    line-height: 2.133333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
}
#store_list li a .txt  .name {
    font-size: 0.597333rem;
    color: #4C4B4C;
}
#store_list li a .txt .adress{
    font-size: 0.512rem;
    color: #666666;
}
#store_list li .more{
   position: absolute;
   right: 0.64rem;
   top: 50%;
   transform:translateY(-50%);
   -ms-transform:translateY(-50%); 	/* IE 9 */
   -moz-transform:translateY(-50%); 	/* FirefoY */
   -webkit-transform:translateY(-50%); /* Safari 和 Chrome */
   -o-transform:translateY(-50%);
}
/*体验店详情*/
#msg{
  	width: 91%;
  	margin: 0 2.5%;
  	background: #fff;
  	overflow: hidden;
  	margin-top: 0.426667rem;
    padding: 0 2%;
    color: #666666;
    border-radius: 3px;
    height: 10.24rem;
}
#msg .store{
    height: 2.346667rem;
    line-height: 2.346667rem;
    border-bottom: 1px solid #D9D9D9;
    font-size: 0.810667rem;
    padding-left: 0.32rem;
}
#msg .tel{
    height: 2.133333rem;
    border-bottom: 1px solid #D9D9D9;
    font-size: 0.597333rem;
    position: relative;
    padding-left: 0.32rem;
}
#msg .tel p{
    height: 2.133333rem;
    line-height: 2.146667rem;
    display: inline-block;
    font-size: 0;
}
#msg .tel p a{
    font-size: 0.597333rem;
    color: #666666;
}
#msg .tel p a:first-child{
    margin-right: 0.426667rem;
}
#msg .tel img{
    width: 0.256rem;
    position: absolute;
    right: 0.64rem;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%);     /* IE 9 */
    -moz-transform:translateY(-50%);    /* FirefoY */
    -webkit-transform:translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateY(-50%); 
}
#msg .adress{
    width: 98%;
    height: 2.133333rem;
    border-bottom: 1px solid #D9D9D9;
    font-size: 0.597333rem;
    position: relative;
    padding-left: 0.32rem;
    overflow: hidden;
}
#msg .adress p{
    width: 90%;
    height: 2.133333rem;
    line-height: 2.146667rem;
    display: inline-block;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
}
#msg .adress img{
    width: 0.768rem;
    position: absolute;
    right: 0.64rem;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%);     /* IE 9 */
    -moz-transform:translateY(-50%);    /* FirefoY */
    -webkit-transform:translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateY(-50%); 
}
#msg .require{
    padding-left: 0.32rem;
}
#msg .require .limit{
    margin-top: 0.626667rem;
    font-size: 0.597333rem;
}
#msg .require .order{
    margin-top: 0.426667rem;
    padding-bottom: 0.426667rem;
    font-size: 0.597333rem;
}
.require .txt{
    color: #EC6D65;
    padding: 0 0.341333rem;
    border: 1px solid #EC6D65;
    border-radius: 3px;
    margin-right: 0.426667rem;
    height: 0.725333rem;
    line-height:0.725333rem;
    font-size: 0.512rem;
}
#banner{
    width: 100%;
    height: 6.4rem;
    margin-top: 0.426667rem;
}
#banner img{
    width: 100%;height: 100%;
}
#service{
    margin-top: 0.768rem;
    margin-bottom: 0.213333rem;
    text-align: center;
}
#service span{
    display: block;
    color: #4C4B4C;
    font-size: 0.682667rem;
    position: relative;
}
#service span:before{
    content: '';
    position: absolute;
    top: 52%;
    background: #D9D9D9;
    width: 15%;
    border-bottom: 1px solid #D9D9D9;
    left: 24%;
}
#service span:after{
    content: '';
    position: absolute;
    top: 52%;
    background: #D9D9D9;
    width: 15%;
    border-bottom: 1px solid #D9D9D9; 
    right: 24%;
}
#service_list{
    overflow: hidden;
    width: 100%;
    margin:0 2.5%;
}
#service_list li{
    width: 46%;
    /*height: 12.842667rem;*/
    float: left;
    background: #fff;
    text-align: center;
    margin-top: 0.426667rem;
    border-radius: 3px;
    text-align: center;
}
#service_list li img{
    width: 100%;
    height: 7.381333rem;
    border-radius:  3px 3px 0 0;
}
#service_list li:nth-child(2n){
    margin-left: 3%;
}
#service_list .title{
    height: 1.536rem;
    line-height: 1.536rem;
    font-size: 0.682667rem;
    color: #333333;
    padding: 0 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
}
#service_list .first{
    display: inline-block;
    width: 2.56rem;
    height:0.853333rem;
    line-height: 0.853333rem;
    font-size: 0.512rem;
    color: #333333;
    padding: 0 0.256rem;
    border: 1px solid #979797;
    border-radius: 3px;
}
#service_list .coin{
    height: 1.450667rem;
    line-height: 1.450667rem;
    font-size: 0.597333rem;
    color: #EC6D65;
}
#service_list #btn{
    display: inline-block;
    width: 4.266667rem;height: 1.152rem;
    line-height:1.152rem;
    background: #EC6D65;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 0.426667rem;
    font-size: 0.512rem;
}
