body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
	min-width: 300px;
}

p {
	padding:0;
	margin: 0; 
}
img{
	padding:0;
	margin: 0;
	display: block;
	border: none;
}
a {
	list-style: none;
	text-decoration: none;
}
li{ list-style:none }
input{
	outline: none;
}
.wrap{
	width: 100%;
	/*background-color:#f1f0f0;*/
	overflow: hidden; 
	font-family: "Microsoft YaHei";
	min-width: 300px;
}
.header{
	width: 100%;
	height:44px;
	background: #e6e6e6;
    text-align: center;
    line-height:44px; 
    position: fixed;
    top: 0;
    z-index: 2;
}
.lj_srt{font-size:19px;color:#333; }
.lefter{
	width: 12px;
	/*height: 0.981333rem;*/
	position: absolute;
	left: 0.426667rem;
	bottom:12px; 
}
.share{
	width:0.981333rem;
	height: 0.981333rem;
	position: absolute;
	right: 0.444444rem;
	bottom:0.34562963rem; 
}
.void{
	width: 100%;
	height: 44px;
}
.logo{
	width: 24.3%;
	height: 1.514667rem;
	margin: 70px auto;
}
.logo img{
	width: 100%;
	height: 100%;
}
.iphone{
	width: 72%;
	border-bottom: 1px solid #979797;
	margin: 0 auto;
	height: 60px;
}
.iphone input{
	border:none;
	/*margin-bottom: 15px;*/
	font-size: 16px;
	color: #4C4B4C;
	line-height: 16px;
	height: 50px;
	width: 100%;
}
#id{
	background: #EC6D65;
}
#s_box{
	background: #D9D9D9;
	float: right;
    display: block;
    width: 84px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    margin-top:18px;
    padding: 0;
	display: none;
}
#btn{
	float: right;
    display: block;
    width: 84px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #EC6D65;
    border: 0;
    border-radius: 3px;
    margin-top:18px;
    padding: 0;
}
#code{
	width: 50%;
}
.security {
    display: none;
}
.security  input{
	width: 50%;
}
.img_code2 {
    float: right;
    width: 3.584rem;
    height: 30px;
    padding-top: 18px;
    overflow: hidden;
}
.img_code2 img{
	width: 100%;
	height: 100%;
}
.treaty{
	width: 72%;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	margin: 20px auto 0px;
	text-align: center;
}
.treaty a{
	color: #333333;
	text-decoration: underline;
}
/*.btns{
	display: inline-block;
}
.fdot img{
	width: 12px;
	height: 12px;
	display: inline-block;
}
.reddot{
	display: none;
}
.reddot img{
	width: 12px;
	height: 12px;
	display: inline-block;
}*/
.ensure{
	width: 72%;
	height: 44px;
	background: #EC6D65;
	border-radius: 3px;
 	color: #fff;
 	font-size: 16px;
 	line-height: 44px;
 	text-align: center;
 	margin: 10px auto 0;
}
.already{
	width: 80%;
	font-size: 14px;
	color: #666666;
	line-height: 14px;
	text-align: center;
	margin:20px auto 30px; 
}
.already a{
	color: #666666;
	text-decoration: underline;
}
#alert_mark{
	width: 50%;
	/*height: 33px;*/
	border-radius: 3px;
	background:  rgba(0,0,0,0.60);
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 33px;
	position: fixed;
	bottom: 30%;
	left: 50%;
	margin-left: -25%;
	display: none;
}
/*用户协议*/
.protocol{
	width: 90%;
	margin: 0 auto;
	font-size: 0.5512rem;
	line-height: 20px;
}
h2{
	text-align: center;
}
