body{margin:0;padding:0;}
.f_carnival_purchasing{background: #f8b104;}
.f_carnival_purchasing img{width:100%;border:none;}
.f_carnival_purchasing ul li{list-style: none;}
#f_planner{width:60%;margin:0 auto;}
.zipper{margin:0 auto;width:90%}
.zipper img{margin-top:3%;}
.f_content{overflow: hidden;}
.tetrad ul li{width:50%;float:left;}
.tetrad ul{margin:0;padding:0;}
