body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f1f0f0;
	min-width: 300px;
}

p {
	padding:0;
	margin: 0; 
}
img{
	padding:0;
	margin: 0;
	display: block;
	border: none;
}
a {
	list-style: none;
	text-decoration: none;
}
ul{
	padding:0;
	margin: 0;
}
li{ list-style:none }
/*提示框*/
#title{
	width: 45%;
	padding: 0 0.426667rem;
	line-height:1.28rem;
	font-size: 0.512rem;
    color: #FFFFFF;
    background: rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%); 	/* IE 9 */
    -moz-transform:translateX(-50%); 	/* FirefoX */
    -webkit-transform:translateX(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%); 
}
.wrap{
	width: 100%;
	background-color:#f1f0f0;
	overflow: hidden; 
	font-family: "Microsoft YaHei";
	min-width: 300px;
}
.header{
	width: 100%;
	height:44px;
	background: #e6e6e6;
    text-align: center;
    line-height:44px; 
    position: fixed;
    top: 0;
    z-index: 2;
}
.lj_srt{font-size:19px;color:#333; }
.lefter{
	width: 12px;
	/*height: 0.981333rem;*/
	position: absolute;
	left: 0.426667rem;
	bottom:12px; 
}
.share{
	width:0.981333rem;
	height: 0.981333rem;
	position: absolute;
	right: 0.444444rem;
	bottom:0.34562963rem; 
}
.void{
	width: 100%;
	height: 44px;
}
.bound{
	margin: 10px auto;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;
}
.bigiphone{
	border-radius: 3px;
	overflow: hidden;
	margin-top: 10px;
}
.iphone{
	width: 95%;
	margin: 0 auto;
	background: #fff;
}
.iphone input{
	border:none;
	font-size: 14px;
	line-height: 14px;
	height: 49px;
	width: 80%;
}
.iphones{
	width: 96%;
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid #f1f0f0 !important;
	overflow:hidden; 
	font-size: 14px;
	line-height: 50px;
}
.iphones .iphones_title{
	color: #000;
	display: inline-block;
	margin-right: 0.32rem;
}
.iphones3{
	width: 96%;
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid #f1f0f0 !important;
	font-size: 14px;
	line-height: 50px;
}
.iphones span{
	font-size: 14px;
	color: #999;
}
.iphones2{
	width: 96%;
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid #f1f0f0 !important;
	display: none;
}
 .iphones2 p:first-child{
	font-size: 11px;
	color: #999;
 }
 .iphones2 p:last-child{
 	width: 60%;
 	height: 30px;
 	/*overflow: hidden;*/
 }
 .iphones2 p:last-child input{
	width: 100%;
	height: 80%;
	font-size: 14px;
	border: none;
 }
.iphoned{
	width: 95%; 
	margin: 0 auto;
	/*height: 50px;*/
	background: #f1f0f0;
}
.iphoneds{
	width: 96%;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 14px; 
	color: #999999;
}
#id{
	background: #EC6D65;
}
#s_box{
	background: #D9D9D9;
	float: right;
    display: block;
    width: 84px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    margin-top:10px;
    padding: 0;
	display: none;
}
#btn{
	float: right;
    display: block;
    width: 84px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #EC6D65;
    border: 0;
    border-radius: 3px;
    margin-top:10px;
    padding: 0;
}
#code{
	width: 50%;
}
.text{
	width: 95%;
	background: #EC6D65;
	/*background: #999999;*/
	border-radius: 3px;
    height: 33px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
    margin: 10px auto 0;
}
.sure{
	width: 90%;
    margin: 0 auto;
 	display: none;
    color: #EC6D65;
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0;

}
/*寮规*/
#alert_mark{
	width: 50%;
	height: 33px;
	border-radius: 3px;
	background:  rgba(0,0,0,0.60);
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 33px;
	position: fixed;
	bottom: 50%;
	left: 50%;
	margin-left: -25%;
	display: none;
}
