/*公共样式*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	vertical-align: middle;
}
body{
	width: 100%;
	/*height: 100%;*/
	min-width: 300px;
	background: #F1F0F0;
	font-family: "Microsoft YaHei","PingFang SC","Heiti SC","SF UI Text","Helvetica Neue",Roboto,"Droid Sans Fallback",arial,sans-serif;
}
img{
	border: none;
	font-size: 0;
	vertical-align: middle;
}
.wrap{
	width: 100%;
	background:#f1f0f0;
	min-width: 300px;
}
/* 隐藏*/
.hide{
	display: none;
}
.header{
	width: 100%;
	height:44px;
	background: #e6e6e6;
    text-align: center;
    line-height:44px; 
    position: fixed;
    top: 0;
    z-index: 50;
}
.arrow{
	width: 12px;
	/*height: 0.925867rem;*/
	position: absolute;
	left: 0.426667rem;
	/*bottom:0.533333rem; */
	margin-top: 10px;
}
.head_title{
	font-size:19px;color:#333; 
}
/*星星杀*/
.head_share{
    width: 0.810667rem;
    height: 0.810667rem;
	position: absolute;
	right: 0.64rem;
	bottom:0.554667rem;
}
/******************************************星星杀*****正在进行*/
/*********************底部按钮************************/
.start_btom{
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
}
.start_btom a{
	display: inline-block;
	float: left;
	width: 33.33%;height: 2.090667rem;
	background: #fff;
	color: #EC6D65;
	text-align: center;
	line-height: 2.090667rem;
}
.start_btom .btom_change{
	background: #EC6D65;
	color: #fff;
}
/*活动规则弹框*/
.rule_btn{
	width: 2.56rem;height: 1.066667rem;
	background: #333333;
    border-radius: 3px;
    font-size: 0.597333rem;
    color: #FFFFFF;
    line-height:1.066667rem;
    text-align: center;
    position: absolute;
    top: 45px;
    right: 0.426667rem;
    z-index: 1;
}
.rule_wrap{
	position: relative;
}
.rule_con{
	width: 100%;height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	opacity: 0.6;
}
.rule_txt{
	width: 13.653333rem;
	overflow: hidden;
	background: #fff;
	position: fixed;
	top:15%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	border-radius: 3px;
}
.rule_know{
	width: 100%;height: 1.408rem;
	background: #EC6D65;
	font-size: 0.597333rem;
	color: #FFFFFF;
	line-height: 1.408rem;
	text-align: center;
	border: none;
	border-radius: 0 0 3px 3px;
	float: left;
}
.rule_text{
	width:92%;
	margin: 0 auto;
	margin-bottom: 1.28rem;
}
.rule_text p{
	font-size: 0.512rem;
	color: #666666;
	line-height: 0.768rem;
	margin-top: 0.426667rem;
	margin-left: 3px;
}
.txt_title{
	font-size: 0.810667rem;
    color: #4C4B4C;
    text-align: center;
    margin-bottom: 0.853333rem;
    margin-top: 1.28rem;
}
.rule_img{
	width: 0.64rem;height: 0.64rem;
	position: absolute;
	top: 0.426667rem;
	right: 0.426667rem;
}
/*星星杀正在进行*/
.start_con{
	margin-top: 44px;
	margin-bottom: 2.517333rem;
}
/*********************轮播图************************/
 .swiper-container {
	width: 100%;
	height: 9.578667rem;
	background: #fff;
}
.swiper-slide img{
    width: 100%;
}
.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom:4px;
	width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  opacity: 0.3;
  margin-right: 0.426667rem;
}
.swiper-active-switch {
    background: #EC6D65;
    opacity: 1;
}
/*********************活动***************************/
.start_active{
	margin: 0.426667rem 2.7%;
	width: 94.6%;
	background: #fff;
	border-radius: 3px;
	padding-bottom: 0.426667rem;
}
.active_img{
	width: 100%;
	height: 7.68rem;
	overflow: hidden;
	position: relative;
	border-radius: 3px 3px 0 0;
}
.active_img img{
	width: 100%;
	position: relative;
	top: 50%;
	margin-top: -25%;
}
.active_title{
	margin: 0.426667rem 0;
	font-size: 0.597333rem;
	color: #000000;
	line-height: 0.896rem;
	text-align: center;
	padding: 0 0.426667rem;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}
.active_txt{
	text-align: center;
	line-height: 0.597333rem;
}
.active_txt .differ_txt{
	font-size: 0.597333rem;
	color: #666666;
}
.active_txt .differ_time{
	font-size: 0.597333rem;
	color: #EC6D65;
}
.active_progress{
	margin: 0 auto;
	width: 10.666667rem;
	height: 10px;
	border: 1px solid #EC6D65;
    border-radius: 10px;
    margin-top: 0.426667rem;
}
.progress{
	width: 50%;
	height: 10px;
	border-radius: 10px;
	background: #EC6D65;
}
/*价格*/
.active_num{
	width: 100%;
	overflow: hidden;
	margin-top: 0.213333rem;
}
.active_num li{
	float: left;
	height: 1.024rem;
	width: 33.333333%;
	line-height: 1.024rem;
	text-align: center;
	font-size: 0.512rem;
	color: #666666;
}
#price_now{
	font-size: 1.024rem;
	color: #EC6D65;
}
/*等级*/
.active_price{
	width: 100%;
	overflow: hidden;
	margin-top: 0.085333rem;
}
.active_price li{
	float: left;
	width: 33.333333%;
	text-align: center;
	font-size: 0.469333rem;
	color: #999999;
}
.active_btn{
	width: 100%;
	text-align: center;
	margin-top: 0.64rem;
}
.active_target{
	padding: 0 0.426667rem;
	overflow: hidden;
	
}
.active_target p{
	font-size: 0.512rem;
	color: #666666;
}
.active_target p:first-child{
    float: left;
}
.active_target .target_go{
	float: right;
}
.active_target .target_suc{
	float: right;
	color: #EC6D65;
}
.active_target .target_suc a{
	color: #EC6D65;
}
.active_btn .active_like{
	width: 94.298%;
	height: 1.408rem;
	background: #EC6D65;
    border-radius: 3px;
    font-size: 0.597333rem;
    color: #FFFFFF;
    line-height: 1.408rem;
    text-align: center;
    display: inline-block;
    margin-top: 0.226667rem !important;
}
.active_mystar{
	width: 100%;
	text-align: center;
}
.active_mystar .active_like{
	width: 94.298%;
	height: 1.408rem;
	background: #EC6D65;
    border-radius: 3px;
    font-size: 0.597333rem;
    color: #FFFFFF;
    line-height: 1.408rem;
    text-align: center;
    display: inline-block;
    margin-top: 0.426667rem;
}
/******************************************星星杀*****即将开始*/
/*星星杀即将开始*/
.nostart_con{
	margin-top: 44px;
	margin-bottom: 2.517333rem;
	padding-top: 0.5px;
}
.nostart_active{
	margin: 0.426667rem 2.7%;
	width: 94.6%;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	position: relative;
	padding-bottom: 0.426667rem;
}
.active_mark{
	width: 100%;height: 7.68rem;
	line-height: 7.68rem;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px 3px 0 0;
	z-index: 10;
}
.mark_txt{
	width: 100%;height: 7.68rem;
	line-height: 7.68rem;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.810667rem;
	color: #FFFFFF;
	z-index: 11;
}
.nostart_low{
	font-size: 1.024rem;
	color: #EC6D65;
	line-height: 1.024rem;
	margin-top: 0.341333rem;
}
.nostart_price{
	font-size: 0.469333rem;
	color: #999999;
	line-height: 0.469333rem;
	margin-top: 0.277333rem;
}
.nostart_link{
	display: inline-block;
	width: 94.298%;
	height: 1.408rem;
	line-height: 1.408rem;
	text-align: center;
	background: #EC6D65;
    border-radius: 3px;
    font-size: 0.597333rem;
	color: #FFFFFF;
	margin-top: 0.426667rem;
}
/******************************************星星杀******我的星星杀*/
.mystar_con{
	margin-top: 44px;
	margin-bottom: 2.517333rem;
	padding-top: 2.133333rem;
}
.mystar_classfy{
	width: 100%;
	font-size: 0;
	position: fixed;
	top: 44px;
	left: 0;  
	overflow: hidden;
	z-index: 100;
}
.mystar_classfy span{
	float: left;
	width: 50%;
    height: 2.048rem;
    line-height:2.048rem;
	text-align: center;
	display: inline-block;
	font-size: 0.682667rem;
	color: #999999;
	background: #fff;
	box-sizing:border-box;
}
.mystar_classfy .exchange{
	color: #EC6D65;
	border-bottom: 2px solid #EC6D65;
}
.mystar_buy{
	margin: 0.426667rem 2.7%;
	width: 94.6%;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	padding-bottom: 0.426667rem;
}
.mystar_low{
	font-size: 1.024rem;
	color: #EC6D65;
	line-height: 1.024rem;
	margin-top: 0.426667rem;
}
.mystar_price{
	font-size: 0.512rem;
	color: #999999;
	line-height: 0.512rem;
	margin-top: 4px;
	text-decoration: line-through;
}
.mystar_txt{
	font-size: 0.512rem;
	color: #666666;
	line-height: 0.512rem;
	margin-top: 0.426667rem;
}
/******************************************星星杀******星星杀状态********原价购买*********我要杀价************/
.details-container{
	height: 16.0rem;
}
.state_con{
	margin-top: 44px;
	margin-bottom: 2.56rem;
}
.state_botm{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}
.state_botm a{
	float: left;
	width: 50%;
	display: inline-block;
	height: 2.090667rem;
	line-height:2.090667rem; 
	text-align: center;
	font-size: 0.597333rem;
	color: #fff;
	background: #EC6D65;
}
.state_botm a:first-child{
	color: #EC6D65;
	background: #fff;
}
.state_img{
	height: 16.0rem;
	width: 100%;
}
.state_progress{
	margin: 0 auto;
	width: 10.666667rem;height: 0.426667rem;
	border: 0.5px solid #EC6D65;
    border-radius: 2.133333rem;
    margin-top: 0.618667rem
}
.state_target{
      margin-top: 0.64rem;
}
.state_target p{
      margin-top: 0;
}
.state_num{
	margin-top: 0.313333rem;
}
#state_progress{
	margin-top: 0.64rem;
}
.active_limit{
	text-align: center;
	font-size: 0.469333rem;
	color: #EC6D65;
	margin-top: 0.213333rem;
}
/******************************************星星杀******查看详情*/
.details_con{
	margin-bottom: 3.2rem;
}
.details_img{
	margin:0 2.7%;
	width: 94.6%;
	background: #fff;
	margin-top: 0.426667rem;
	border-radius: 3px;
	overflow: hidden;
}
.details_img img{
	width: 100%;
	float: left;
}
.details_img img:first-child{
	width: 100%;
	margin-top: 0;
}
.detail_low{
	font-size: 1.024rem;
	color: #EC6D65;
	line-height: 1.024rem;
	text-align: center;
	margin-top: 0.426667rem;
}
.detail_price{
	font-size: 0.469333rem;
	color: #999999;
	line-height: 0.469333rem;
	text-align: center;
	margin-top: 0.213333rem;
}
.detail_wait{
	text-align: center;
	margin-top: 0.426667rem;
	font-size: 0.512rem;
	color: #666666;
	margin-bottom: 0.64rem;
}
.detail_buy{
	display: inline-block;
	width: 100%;height: 2.090667rem;
	line-height: 2.090667rem;
	text-align: center;
	background: #EC6D65;
	position: fixed;
	bottom: 0;
	color: #fff;
}
/******************************************星星杀******立即购买*/
.buy_price{
	text-decoration: line-through;
}
.buy_soldout{
	display: inline-block;
	width: 100%;height: 2.090667rem;
	line-height: 2.090667rem;
	text-align: center;
	background: #999999;
	position: fixed;
	bottom: 0;
	color: #fff;
}
/******************************************星星杀******弹框*/
.alert_wrap{
	width: 100%;height: 100%;
	position: fixed;
    top: 0;
    z-index: 8;

}
.alert_bg{
    width: 100%;height: 100%;
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    z-index: 10;
}
.alert_box{
	width: 100%;height: 9.301333rem;
	background: #fff;
	opacity: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
}
.alert_title{
	padding: 0 2.7%;
	font-size: 0.597333rem;
	color: #666666;
	line-height: 0.896rem;
	text-align: center;
	margin-top: 0.426667rem;
}
.alert_coin{
	text-align: center;
}
.alert_coin span{
	display: inline-block;
	font-size: 0.810667rem;
	color: #EC6D65;
	line-height: 0.810667rem;
	text-align: center;
	margin-top: 0.64rem;
}
.alert_change{
	width: 7.253333rem;height: 1.493333rem;
	border: 0.5px solid #DDDDDD;
    border-radius: 3px;
    margin: 0 auto;
	margin-top: 0.256rem;
}
.alert_change img{
	width: 15px;
}
.alert_change .change_wrap{
	float: left;
	width: 13.235%;
	height: 1.429333rem;
	line-height:1.429333rem;
	text-align: center;
}
.alert_change input{
	float: left;
	width: 73.53%;
	height: 1.429333rem;
	font-size: 0.682667rem;
	color: #333333;
	line-height: 1.429333rem;
	border: none;
	text-align: center;
	background: #fff;
}
.alert_total{
	font-size: 0.597333rem;
	color: #EC6D65;
	line-height: 0.597333rem;
	text-align: center;
	margin-top: 0.426667rem;
}
.alert_suc{
	width: 100%;height: 2.090667rem;
	background: #EC6D65;
	font-size: 0.597333rem;
	color: #FFFFFF;
	line-height: 2.090667rem;
	border: none;
	position: absolute;
	bottom: 0;
	text-align: center;
}
/*提示星币数量不够*/
#alert_coin{
	width: 6.833333rem;
	border-radius: 0.213333rem;
	background: #000;
	position: fixed;
	bottom:20%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.7;
	color: #fff;
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.512rem;
	z-index: 10;
	padding: 0.256rem 0.213333rem;
}
#active_end{
    background: #999999;
}
#buy_sum{
	margin-top: 0.426667rem;
	margin-bottom: 0.426667rem;
}
#buy_sum span{
	font-size: 1.024rem;
	margin-top: 0.426667rem;
}
#buy_box{
	height: 7.501333rem;
}
#com_bg{
	width: 100%;height: 10rem;
	background: url(/public/img/starkill/icon/zanwushuju.png) no-repeat;
	background-size: 45% 60%;
	background-position: 50% 50%;
}
/*禁止点击*/
#no_active{
	background: #e6e6e6;
	color: #fff;
}