/*#today{*/
	/*margin-top: 50px;*/
/*}*/
/*#torrow{*/
	/*margin-top: 50px;*/
/*}*/
.no_data{
	position: absolute;
	top: 20%;
	left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%); 	/* IE 9 */
    -moz-transform:translateX(-50%); 	/* FirefoX */
    -webkit-transform:translateX(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%); 
	width: 85%;
	height: 50%;
}
#head_num{
	display: inline-block;
	width: 0.64rem;
	height: 0.64rem;
	font-size: 0.256rem;
	border-radius: 50%;
	border: 1px solid #EC6D65;
	color: #EC6D65;
	text-align: center;
	line-height: 0.64rem;
	position: absolute;
	top: 0.256rem;
	right: 0.426667rem;
}

 #oversea .clear-f{
 	/*position: fixed;*/
 	/*top: 44px;*/
 	/*z-index: 10;*/
	/*clear:both;*/
	/*overflow: hidden;*/
}
#oversea .float-l{
	float: left;
}
#oversea .float-r{
	float: right;
}
#oversea .margin-b{
	margin-bottom:10px;
}
img{
	width:100%;
	display: block;
} 
#oversea #head{
	width:100%;
	height:44px;
	background-color: #e6e6e6;
	position: fixed;
	z-index: 2;
}
#oversea #head #head-left{
	float:left;
}
#oversea #head #head-center{
	font-size: 18px;
	color:#333; 
	text-align: center;
	line-height: 44px;
}
#oversea #head #head-left img{
	margin-top: 12px;
	margin-left:15px;
	width:11px;
}
#oversea #head #head-right{
	margin-top: 11px;
	margin-right:15px; 
	float: right; 
}
#oversea #head #head-right img{
	width:21px;
}
#oversea #top_place{
	height:44px;
	width:100%; 
}  
.title{
	width:100%;
	height: 2.3rem;
	line-height: 2.3rem;
	text-align: center;
	border-bottom:1px solid #ddd;
	font-size: 0.8rem;
}
.titlebtn{
	width:95%;
	padding:0 2.5%;
	font-size: 0.7rem;
}
.titlebtn .item{
	width:50%;
	height: 2.0rem;
	line-height: 2.0rem;
	text-align: center;
	border-bottom:1px solid #ddd;
	box-sizing: border-box;
}
.titlebtn .item.active{ 
	border-bottom:2px solid #EC6D65;
	color: #EC6D65;
}
.main .titlep{
	width:100%;
	height:1.8rem;
	line-height: 1.8rem;
	color:#EC6D65;
	font-size: 0.6rem;
	text-align: center;
}
.slide-stage{
	font-size: 0;
}
 
.inlinestyle .item {
	margin:0 2.5%;
	border-radius: 3px;
	overflow: hidden;
}
.inlinestyle .item .img_box{
 	width:33.7%;
 	height: 6.0rem;
	border-radius: 3px;
 	overflow: hidden;
 	position: relative;
}
.inlinestyle .item .img_box .tag{
	padding: 0 2px;
	height:1.0rem;
	line-height: 1rem;
	text-align:center;
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:0;
	background-color: #1E3042;
	color: #fff;
	font-size: 0.55rem;
}
.inlinestyle .item .wen_box{
    width: 57.5%;
    padding-left: 2.5%;
    padding-top: 0.45rem;
    height: 5.55rem;
    position: relative;
}
.inlinestyle .item .wen_box .smalltag span{
	border: 1px solid #EC6D65;
    color: #EC6D65;
    font-size: 0.55rem;
    border-radius: 3px;
    padding: 0 2px;
}
.inlinestyle .item .wen_box .name{
 	font-size: 0.7rem;
 	color:#333;
 	height: 2.006667rem;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	display: inline-block;
 	display: -webkit-box;
 	display: -ms-box;
 	display: -moz-box;
 	display: -o-box;
 	-webkit-line-clamp: 2;
 	-ms-line-clamp: 2;
 	-moz-line-clamp: 2;
 	-o-line-clamp: 2;
 	-webkit-box-orient: vertical;
 	-ms-box-orient: vertical;
 	-moz-box-orient: vertical;
 	-o-box-orient: vertical;
} 
.inlinestyle>div {
 	margin-bottom: -10px;
}
.inlinestyle .item .wen_box .sales{
 	font-size: 0.6rem;
 	line-height: 0.6rem;
 	color:#333;
 	position: absolute;
 	bottom: 1.3rem;
 	margin-bottom: 5px;
} 
.inlinestyle .item .wen_box .piece{
 	font-size: 0.8rem;
 	line-height: 0.8rem;
 	color:#EC6D65;
 	position: absolute;
 	bottom: 0.5rem;
} 
.morebtn{
	width:100%;
	height: 2.5rem;
}
.morebtn a{
	color:#666;
}
.morebtn .item{
	width:50%;
	line-height: 2.5rem;
	text-align: center;
}
.morebtn .item.active{
	color:#EC6D65;
}
#alltitle{
	height:32px;
	line-height: 32px;
	color:#666;
	text-align: center;
	font-size: 12px;
}
.alltitle{
	width: 100%;
	color:#EC6D65;
	text-align: center;
	font-size: 12px;
	padding-bottom: 0.853333rem;
}
.alltitle:first-child{
	padding-top: 0.426667rem;
}
.inlinestyle .imgbox{
	position: absolute;
	top: 40%;
	right:0;
	width:23px;
}
.oldpiece{
	font-size: 12px;
	color:#999;
}