/*body{background-color: #fff !important;}*/
ul{margin: 0;padding: 0;}
li{list-style: none;}
a{color: #000; text-decoration: none !important;}
p{margin: 0;padding: 0;}
body{margin: 0;padding: 0;}
.wrap{
	width:100%;
	/*background-color:  #E7F3FF !important;*/
}
.head{
	width: 100%;
	/*height: 220px;*/
	/*border: 1px solid red;*/
	overflow: hidden;
}
/*轮播图*/
/*轮播----------------------------------------------*/
.swiper-container {
  width: 100%;
  height: 9.4rem;
  /*margin-top: 0.426667rem !important;*/
}
.swiper-container img{
	width: 100%;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.swiper-wrapper,.swiper-wrapper .swiper-slide,.swiper-wrapper .swiper-slide img{
width: 100%;
height: 100%;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
  margin: 0;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.33);
  margin: 0 3px;
}
.swiper-active-switch {
  background: #fff;
}
/*选项*/
.title ul{
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    height: 40px;
    line-height: 35px;
}
.title ul li{
	display: inline-block;
    width: 3.84rem;
    text-align: center;
    color: #000;
    margin-left: 0.426667rem;
    font-size: 14px;
}
/*高度去掉*/
.sku_one{
	width: 100%;
	/*height: 50px;*/
	overflow: hidden;
	margin: 15px 0px 0px;
}
.sku_one img{
	width: 100%;
}
.shop{
	overflow: hidden;
	margin-top: 10px;
}
.shop li{
	width: 46.25%;
	height: 255px;
    margin-left: 2.5%;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
}
 .shop_img{
 	width: 100%;
 	height: 175px;
 }
 .shop_name{
 	text-align: center;
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
 }
 .price{
 	width: 50%;
 	float: left;
 	margin-left: 10px;
 }
 .price p:first-child{
 	font-size:18px;
	color: #EC6D65;
	margin: 0;
	line-height: 18px;
 }
 .price p:last-child{
 	font-size: 12px;
 	color: #999;
 	text-indent: 6px;
 	text-decoration:line-through;
 }
 .goods{
 	float: right;
 	margin-right: 16px;
    margin-top: 10px;
 }
 .lj_goods{
 	width: 24px;

 }
 /*弹出购物车部分*/
.goods_delt_mark {
    min-width: 315px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    overflow-x: auto;
    text-align: center;
    display: none;
}
.goods_delt_mark .goods_delt_box {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.goods_delt_mark .goods_delt_main {
    padding-top: 5px;
    height: 17.066667rem;
    overflow-y: auto;
    background-color: #fff;
}
.goods_delt_mark .goods_delt_main .item {
    padding: 0 15%;
}
.goods_delt_mark .goods_delt_main .title {
    margin: 10px 0 10px;
    color: #333;
    font-size: 14px;
}
.goods_delt_mark .goods_delt_main .item .main span.active {
    border: 1px solid #ec6d65;
}
.goods_delt_mark .goods_delt_main .item .main span {
    border: 1px solid #999;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    padding: 0 11px;
    margin: 0 7px;
    line-height: 28px;
    height: 28px;
    display: inline-block;
    margin-bottom: 10px;
}
.goods_delt_mark .goods_delt_main .title {
    margin: 10px 0 10px;
    color: #333;
    font-size: 14px;
}
.goods_delt_mark .amount {
    width: 170px;
    height: 35px;
    background-color: #f1f0f0;
    border-radius: 3px;
    margin: 0 auto;
}
.goods_delt_mark .amount span {
    color: #999;
    font-size: 24px;
    width: 35px;
}
.goods_delt_mark .amount input {
    color: #333;
    width: 100px;
    font-size: 15px;
    text-align: center;
    height: 30px;
    margin: 0 10px;
    border: 0;
    background-color: #f1f0f0;
    padding: 0;
    position: relative;
    top: -2px;
}
.goods_delt_mark .amount span {
    color: #999;
    font-size: 24px;
    width: 35px;
}
.goods_delt_mark .goods_done_btn {
    background-color: #ec6d65;
    color: #fff;
}
.goods_delt_mark .d_btn {
    line-height: 2.090667rem;
    color: #fff;
    font-size: 0.597333rem;
}

#alert_mark{
	position: fixed;
    width: 44%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #fff;
    top: 60%;
    left: 28%;
    z-index: 101;
    display: none;
}