/* */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 14px/1.5 tahoma, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置, 减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a{
text-decoration:none;	
}
a:hover {
text-decoration:none;
}
p:hover {
text-decoration:none;
}
a:active {
text-decoration:none;
} 
.overall{
	width:1200px;margin:0 auto;margin-top:20px;
}
.banner_xia{
	width:1200px;height:300px;float:left;border-top: 1px solid #ff588c;
}
.banner_xia ul li{ 
	width:1200px;height:300px;float:left;
}
.banner_xia ul .picture_1 {
    width: 240px;
    height: 298px;
    padding: 0;
    border:1px solid #f0f0f0;

}
.banner_xia ul .picture_2 {
    width: 320px;
    height: 300px;
    padding: 0;

}
.banner_xia ul .picture_3 {
    width: 260px;
    height: 300px;
    padding: 0;

}
.banner_xia ul li{
	 width: 350px;
    height: 145px; margin: 0 auto; padding: 0; margin-left: 9px;
}
.banner_xia ul .picture_4 {
    margin: 0 auto;
    padding: 0;
   margin-top:10px;
   margin-left: 7px;
}

.layout img{
		margin-top:20px;
	
}
.xingfen{
    margin: 0 auto;width: 1200px;padding-top: 26px;padding-bottom: 8px;
}
.xingfex1200{
	width:1200px;height:500px;margin:0 auto;border-top: 1px solid #ff588c;
}
.xingfex1200 ul .grilx240{
	width:240px;height:500px;float: left;position:relative;overflow:hidden;
}
.xingfex1200 ul .grilx240 p{
    width:240px;height:50px;position:absolute;margin-top:-50px;
    text-align:center;color:#fff;line-height:20px;display:none;background: #000;opacity: 0.7;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.xingfex1200 ul .grilx240 .grilx250{
	width:240px;height:250px;
}
.banner_xia ul .tuoxie{
	margin:0px;
}
.layout {margin: 0 auto;width: 1200px; 
}
.powder {width: 1200px;margin: 0 auto;border-top: 1px solid #ff588c;

}
.powder img{
	width:595px;height:300px;margin-top: 10px;position: relative;
}
.jiazai{
	width:120px;height:50px;margin: 0 auto; 
}
.jiazai{
	color:#909090;font-size:24px;font-weight:600;margin-top: 20px;
}
.blure{
	position:relative;
	left: 560px;
    top: 4px;
}
/*.banner_xia .leftx8px li{
	margin-left:5px;
}*/
.banner_xia ul .picture_1 img{
	width:238px;height:298px;display:block;
	position: relative; 
	left: 0px; 
}
.gengduo{height:30px;width:1200px;margin:0 auto;position: absolute;}
.gengduo span{
	font-size:14px;color:#969697;float:right;position: relative;top:18px;margin: 0 auto;
}
.banner_xia ul li a img {position: relative;}
.banner_xia ul li{overflow: hidden;}
