/*轮播----------------------------------------------*/
 body{
 	background: #fff;
 }
 .swiper-container {
  width: 100%;
  height: 11.25rem; 
}
.swiper-container img{
	width: 100%;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.swiper-wrapper,.swiper-wrapper .swiper-slide,.swiper-wrapper .swiper-slide img{
width: 100%;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.33);
  margin: 0 3px;
}
.swiper-active-switch {
  background: #fff;
}
/*搜索页面--------------------------------------------------------------*/
 #search_box #head{
	width:100%;
	height:44px;
	background-color: #e6e6e6;
	position: fixed;
	z-index: 2;
}
#search_box #head #head-left{
	float:left;
}
#search_box #head #head-center{
	font-size: 18px;
	color:#333; 
	text-align: center;
	line-height: 44px; 
}
#search_box #head #head-left img{
	margin-top: 12px;
	margin-left:15px;
	width:11px;
}
#search_box #head #head-right{ 
	margin-right:15px; 
	float: right;
	font-size: 18px;
	color:#EC6D65; 
	line-height: 44px;
}
#search_box #head #head-center input{ 
    width: 57%; 
    display: block;
    margin: 0 auto;
    border: 0;
    margin-top:7px;
    height: 30px;
    border-radius: 3px;
    padding-left:8%;font-size: 14px;
}
#search_box #head #head-center img{ 
	width: 21px;
    position: absolute;
    top: 12px;
    left: 16%;
}
#search_box #head #head-right img{
	width:21px;
}
#search_box #top_place{
	height:44px;
	width:100%; 
}
#new{
	font-size: 17px;
	text-align: center;
	height: 39px;
	line-height: 39px;
	background-color: #f1f0f0;
}
#newbox {
	text-align: center;
	font-size: 0;
}
#newbox span{
	margin-left:10px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding:0 4px;
	border:1px #e6e6e6 solid;
	color:#999;
	border-radius: 3px;
	margin-top:10px;
	font-size: 12px;
}
#remove{
	background-color: #999;
	width:80%;
	margin:10px auto;
	font-size: 12px;
	color:#fff;
	height: 30px;
	line-height: 30px;
	border-radius: 3px; 
}
/*//////////////*/
#threecate{
	background-color: #f1f0f0;
}
#threecate .clear-f{
	clear:both;
	overflow: hidden;
}
#threecate .float-l{
	float: left;
}
#threecate .float-r{
	float: right;
}
#threecate .margin-b{
	margin-bottom:10px;
}
img{
	width:100%;
	display: block;
}
#threecate .active{  
	color:#EC6D65; 
}
#threecate #head{
	width:100%;
	height:44px;
	background-color: #e6e6e6;
	position: fixed;
	z-index: 2;
}
#threecate #head #head-left{
	float:left;
}
#threecate #head #head-center{
	font-size: 18px;
	color:#333; 
	text-align: center;
	line-height: 44px;
}
#threecate #head #head-left img{
	margin-top: 12px;
	margin-left:15px;
	width:11px;
}
.border_l{
	border-right: solid #ddd 1px;
    height: 30px;
    margin-top: 10px;
}
#threecate #head #head-right{
	margin-top: 11px;
	margin-right:15px; 
	float: right; 
}
#threecate #head #head-right img{
	width:21px;
}
#threecate #top_place{
	height:44px;
	width:100%; 
} 
#threecate #top_place2{
	height:50px;
	width:100%; 
} 
#nav{ 
	position:fixed;
	top:44px;
	font-size: 0px;
	color:#333;
	background-color: #fff;
	border-bottom:1px #ddd solid;
	box-sizing: border-box;
	z-index: 9;
}
#nav .item{
	width:25%;
	display: inline-block;
	font-size: 16px;    
	line-height: 50px; 
	text-align: center;
}
#nav a{
	color:#333;
}
#twostate a{
	color:#333;
}
#twostate .item{
	width:3.65rem;
	text-align: center;
	font-size: 0;
	padding-top: 10px;
	display: inline-block;
} 
#twostate .item .imgbox{ 
	width:2.2rem;
	height:2.2rem;
	margin: 0 auto;
	overflow: hidden;
}
#twostate .item p{
	font-size:0.6rem;
	margin-top:7px;
	margin-bottom:10px; 
}
#filter_view img{
    width: 18px;
    display: inline-block;
    position: relative;
    top: -6px;
}
#filter_lou img{
	width: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 1px;
}
#filter_piece img{
    width: 6px;
    display: inline-block;
    position: relative;
    top: 2px;
}
#catebtn_box{
	width:100%;
	height:50px;  
}
#catebtn{
	width:100%;
	line-height:50px; 
	color:#666;
	text-align: center;
}
#catebtn a{ 
	color:#666; 
}

#catebtn .soo-col-2{
	font-size: 16px;
}
#filtered{
	height:2.4rem;
	font-size: 0;
}

#filtered span{
	display: inline-block;
	font-size: 0.6rem;
	height: 1.4rem;
	line-height: 1.4rem;
	padding:0 0.35rem;
	box-sizing: border-box;
	border-radius: 2px;
	border:1px solid #EC6D65;
	color:#EC6D65;
	margin: 0.5rem 0.375rem 0 0.375rem; 
}
.inlinestyle .item {
	margin:0 2.5%;
	border-radius: 3px;
	overflow: hidden;
}
.inlinestyle .item .img_box{
 	width:33.7%;
 	height: 6.0rem;
	border-radius: 3px;
 	overflow: hidden;
 	position: relative;
}
.inlinestyle .item .img_box .tag{
	width:2.5rem;
	height:1.0rem;
	line-height: 1rem;
	text-align:center;
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:0;
	background-color: #1E3042;
	color: #fff;
	font-size: 0.55rem;
}
.inlinestyle .item .wen_box{
    width: 57.5%;
    padding-left: 2.5%;
    padding-top: 0.45rem;
    height: 5.55rem;
    position: relative;
}
.inlinestyle .item .wen_box .smalltag span{
	border: 1px solid #EC6D65;
    color: #EC6D65;
    font-size: 0.55rem;
    border-radius: 3px;
    padding: 0 2px;
}
.inlinestyle .item .wen_box .name{
 	font-size: 0.7rem;
 	color:#333;
 	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
} 
.inlinestyle .item .wen_box .sales{
 	font-size: 0.6rem;
 	line-height: 0.6rem;
 	color:#333;
 	position: absolute;
 	bottom: 1.3rem;
 	margin-bottom: 5px;
} 
.inlinestyle .item .wen_box .piece{
 	font-size: 0.8rem;
 	line-height: 0.8rem;
 	color:#EC6D65;
 	position: absolute;
 	bottom: 0.5rem;
} 
#sentiment{
	overflow:hidden;
}
.blockstyle .item{
	width:46.25%;
	margin-left: 2.5%;
	float: left;
	border-radius: 3px;
	overflow:hidden;
}
.blockstyle .item .img_box{
	width:100%;
	height:8.65rem;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
}
.blockstyle .item .img_box .tag{
	width:2.5rem;
	height:1.0rem;
	line-height: 1rem;
	text-align:center;
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:0;
	background-color: #1E3042;
	color: #fff;
	font-size: 0.55rem;
}
.blockstyle .item .wen_box .smalltag {
	display:none;
}
.blockstyle .item .wen_box{
	text-align: center;
	padding-top:0.65rem;
	width: 100%;
}
.blockstyle .item .wen_box .name{
	font-size: 0.7rem;
	line-height: 0.7rem;
	text-overflow: ellipsis;
	width:90%;
	margin:0 auto;
	overflow:hidden;
	white-space: nowrap;
}

.blockstyle .item .wen_box .sales{
	display: none;
}
.blockstyle .item .wen_box .piece{
	font-size: 0.8rem;
	line-height: 0.8rem;
	color:#EC6D65;
	margin-top:0.25rem;
	margin-bottom: 0.6rem;
}
#timelimit{
	width:95%;
	margin:0 auto;
	overflow: hidden;
	margin-top:15px;
	margin-bottom: 10px;
}
#timelimit .timebtn{
	padding-top:0.6rem;
	width:50%;
	text-align: center;
	color:#999;
	font-size: 0.6rem;
	line-height: 0.6rem;
	height:2.025rem;
	border-bottom: 2px solid #D8D8D8;
	float:left;
}
#timelimit .timebtn.active{ 
	border-bottom: 2px solid #EC6D65; 
}
#timelimit .timebtn p{
	margin-top:0.3rem;
}
#timelimit .timemain{
	width:100%;
	overflow:hidden;
}
#timelimit .timemain_left{
	width:50%;
	float:left;
	height:6.25rem;
	text-align: center;
	font-size: 0.6rem;
	line-height: 0.6rem;
	margin-left:2.5%;
	color:#333;
	padding-top:1.1rem;
}
#timelimit .timemain_left .time{
	margin-bottom: 0.5rem;
}
#timelimit .timemain_left .time span{
	display: inline-block;
	padding: 0 2px;
	height: 1.0rem;
	line-height: 1.0rem;
	text-align: center;
	background-color: #999;
	color:#fff;
}
#timelimit .timemain_left .time.time2{
	color: #EC6D65; 
}
#timelimit .timemain_left .time.time2 span{ 
	background-color: #EC6D65;color: #fff; 
}
#timelimit .timemain_right{
	width:35%;
	float:left;
	height:6.25rem;
	margin-left:5.5%;
	overflow:hidden;
    padding-top: 1.1rem;
} 
#timelimit .timemain_right img{
	margin:0 auto;
}
#timelimit .timemain_left .text{
	margin-bottom: 0.7rem;
}
#timelimit .timemain_left .name{
	height: 1.8rem;
	line-height: 0.9rem;
	overflow:hidden;
	margin-bottom: 0.5rem;
} 
#timelimit .timemain_left .piece span{
	font-size: 0.8rem;
	border-radius: 3px;
}
#timelimit .timemain_left .piece.piece2 span{
	color:#EC6D65;
} 
#timelimit .timemain_left .piece del{
	color:#999;
	font-size: 0.6rem;
}
#timelimit .more{
	width:100%;
	height:1.8rem;
	line-height: 1.8rem;
	text-align: center;
	color:#666;
	font-size: 12px;
	float: left;
}
.adv{
	width:100%; 
	height: 7.5rem;
	margin-bottom: 10px;
    overflow: hidden;
} 
.fans{
	width:95%; 
	height: 5.0rem;
	margin-bottom: 10px;
	margin:0 auto 10px auto;
    overflow: hidden;
} 
#adv{
	width:95%;
	margin:0 auto 10px auto;
	height: 10.5rem;
}
#adv .adv_left{
	width:50%;
	height: 10.5rem;
	float: left;
	overflow: hidden;
	border-right:1px solid #ddd;
	box-sizing: border-box;
}
#adv .adv_right1{
	width:50%;
	height: 5.25rem;
	float: left;
	overflow: hidden;
	border-bottom:1px solid #ddd;
	box-sizing: border-box;
}
#adv .adv_right2{
	width:25%;
	height: 5.25rem;
	float: left;
	overflow: hidden;
	border-right:1px solid #ddd;
	box-sizing: border-box;
}
#adv .adv_right3{
	width:25%;
	height: 5.25rem;
	float: left;
	overflow: hidden;
} 
.theme_box{
	margin-bottom: 10px;
    font-size: 0;
}
.theme_box .item img{
	width:100%;
	height: 4.5rem;
}
.theme_box .item{
	padding-top: 8px;
	width:24%;
	margin:0 4px;
	display: inline-block;
	font-size: 0;
}
.theme_box .item p{
	font-size: 12px;
	line-height:12px;
	text-align: center;
	margin-top:5px;
	margin-bottom: 10px;

}
.star_theme .banner {
	height:7.5rem;
	overflow: hidden;
}
.search_display_list{
	padding: 0 20px;
}
.search_display_list li{
	height: 1.706667rem;
	line-height: 1.706667rem;
	font-size: 0.426667rem;
	border-bottom: 1px solid #eee;
}
.search_display_list li a{
	display: block;
	color: #000;
}