body{
	margin: 0;
	padding: 0; 
}
p{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
.wrap{
	width: 100%;
	overflow: hidden;
	 
}
.head_one{
	width: 100%;
	overflow: hidden;
}
.head_one img{
	width: 100%;
}
.head_two{
	width: 100%;
}
.head_two img{
	width: 100%;
}
.head_three{
	width: 100%;
	text-align: center;
}
.head_three img{
	width: 100%;
}
.three_one{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.three_ones{
	font-size:12px;
	margin-bottom: 20px;
}
.city{
	width: 100%;
}
.city img{
	width:100%;
}
.exper {
    margin-top: 2.24rem;
    margin-bottom: 2.24rem;
}
.exper p {
    width: 100%;
    text-align: center;
    color: #434343;
    font-size: 0.684rem;
    margin-top: 5px;
}
.exp_shop {
    width: 100%;
    text-align: center;
    color: #434343;
    font-size: 0.804rem;
    font-weight: bold;
    margin-bottom: 0.44rem;
}
.mac{
	width: 100%;
}
.mac img{
	width: 100%;
}
.hend{
	width: 100%;
}
.hend img{
	width: 100%;
}
.two{
	width: 100%;
	text-align: center;
	margin-top: 2.24rem;
	margin-bottom: 1.5rem;
}
.blue{
	font-size: 20px;
	color: #002F99;
	margin-bottom: 5px; 
}
.black{
	font-size: 16px;
}
.online{
	width: 100%;
}
.online img{
	width: 100%;
}
.day{
	margin: 2.24rem 0 2rem;
	width: 100%;
	text-align: center;
	font-size: 14px;

}
.place{
	width: 100%;
}
.place img{
	width: 100%;
}
.hands{
	width: 100%;
}
.hands img{
	width: 100%;
}
.life{
	width: 100%;
}
.life img{
	width: 100%;
}
.modle{
	width: 100%;
}
.modle img{
	width: 100%;
}
.blacks{
	margin-top: 1.2rem;
}
.table{
	width: 100%;
}
.table img{
	width: 100%;
}
/*填写资料*/
.lj_input { 
	width: 88%;
	height: 2.432rem;
	border-radius: 4px;
	margin: 0 auto;
	border: 2px solid #EBEBEB;
	font-size: 0.750667rem
}
.lj_input input{
	width: 98%;
	height: 98%;
	border: none;
	text-indent: 4px;
}
.tops{
	margin-top: 1.493333rem;
}
.top{
	margin: 0.32rem auto;
 }
 .open{
 	width: 88%;
 	height: 2.432rem;
 	border-radius: 6px;
 	background: #F75958;
 	text-align: center;
 	line-height: 2.432rem;
 	color: #fff;
 	font-size: 0.753333rem;
 	margin: 0 auto;
 }
 .guess {
    padding: 0.64rem 0;
}
.like {
    text-align: center;
    font-weight: 500;
}
.like p {
    display: block;
    font-size: 0.682667rem;
    color: #666;
    position: relative;
}
.like p:before {
    content: '';
    position: absolute;
    top: 52%;
    background: #CECECE;
    width: 15%;
    /* height: 1px; */
    border-bottom: 0.5px solid #CECECE;
    left: 3%;
} 
.like p:after {
    content: '';
    position: absolute;
    top: 52%;
    background: #CECECE;
    width: 15%;
    /* height: 1px; */
    border-bottom: 0.5px solid #CECECE;
    right: 3%;
}
.num{
	font-size: 0.853333rem;
	color: #F75958;
	font-weight: bold;
	margin-right: 2px;
	margin-left: 2px;
}
.datum{
	width: 100%;
	font-size: 0.780667rem;
	color: #F75958;
	margin-left: 7%;
}
.lj_data{
	margin-top: 10px;
}
.data_bottom{
	margin-bottom: 1.28rem;
}
/*弹出框*/
#alert_mark {
    width: 60%;
    height: 33px; 
    border-radius: 3px;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin-left: -30%;
    display: none;
}
.success{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	display: none;
}
#alert_success{
	width: 72%;
	/*height: 9.386667rem;*/
	border-radius: 6px;
	text-align: center;
	background: #fff;
	position: fixed;
	left: 50%;
	top:27%;
	margin-left: -35%;
}
#alert_success h4{
	margin-top: 1.093333rem;
}
#alert_success p{
	margin: 1.493333rem 0px;
}
.gondss{
	width: 100%;
	height: 2.7rem;
	border-top:1px solid #434343;
	color: #0178ff;
	line-height: 2.87rem;
	background: #fff;
}
.place_input{
	font-size: 20px;
	padding-left: 5px;
}
.lj_iphones{
	width: 4.245333rem;
	height: 4.245333rem;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
}
.lj_iphones img{
	width: 100%;
}
.wang{
	width: 100%;
	text-align: center;
	margin: 5px 0;
	font-size: 10px;
}