* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
:before,:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
html {
	font-size:10px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased;
}
body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#333;
	background-color:#fff
}
a,body,button,input,label,select,textarea {
	font:12px/1.5 'Microsoft YaHei'
}
p {
	margin:0 0 10px
}
ul,ol {
	margin-top:0;
	margin-bottom:10px
}
ul ul,ol ul,ul ol,ol ol {
	margin-bottom:0
}
dl {
	margin-top:0;
	margin-bottom:20px
}
dt,dd {
	line-height:1.42857143
}
dt {
	font-weight:700
}
dd {
	margin-left:0
}
table {
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
}
fieldset {
	min-width:0;
	padding:0;
	margin:0;
	border:0
}
legend {
	display:block;
	width:100%;
	padding:0;
	margin-bottom:20px;
	font-size:21px;
	line-height:inherit;
	color:#333;
	border:0;
	border-bottom:1px solid #e5e5e5
}
label {
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:700
}
input[type=search] {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input[type=radio],input[type=checkbox] {
	margin:4px 0 0;
	margin-top:1px \9;
	line-height:normal
}
input[type=file] {
	display:block
}
input[type=range] {
	display:block;
	width:100%
}
select[multiple],select[size] {
	height:auto
}
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
output {
	display:block;
	padding-top:7px;
	font-size:14px;
	line-height:1.42857143;
	color:#555
}
input[type=search] {
	-webkit-appearance:none
}
input[type=date],input[type=time],input[type=datetime-local],input[type=month] {
	line-height:34px;
	line-height:1.42857143 \0
}
input[type=date].input-sm,input[type=time].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm {
	line-height:30px
}
input[type=date].input-lg,input[type=time].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg {
	line-height:46px
}
.clearfix:before,.clearfix:after {
	display:table;
	content:" "
}
.clearfix:after{
	clear:both
}
.hide {
	display:none!important
}
.show {
	display:block!important
}
.invisible {
	visibility:hidden
}
.hidden {
	display:none!important;
	visibility:hidden!important
}
dd {
	margin-left:0
}
b {
	font-weight:400
}
h2 {
	font-size:12px
}
body,div,h3,h4,ul {
	margin:0;
	padding:0
}
label {
	display:inline
}
ul>li {
	list-style:none
}
a {
	text-decoration:none;
	color:#37A0DB
}
a:hover {
	cursor:pointer;
	color:#1D83CA;
	text-decoration:none
}
a:active,a:focus,a:link,a:visited {
	text-decoration:none;
	outline:0;
	-moz-outline:0
}
input[type=password],input[type=text] {
	height:30px;
	text-indent:2px;
	width:300px;
	background-color:#fff;
	background-image:none;
	font-size:12px;
	border:1px solid #eee
}
textarea {
	text-indent:2px;
	width:300px;
	background-color:#fff;
	background-image:none;
	font-size:16px;
	border:1px solid #eee
}
input[type=password]:focus,input[type=text]:focus,textarea:focus {
	box-shadow:0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(82,168,236,.6);
	outline:0
}
input[type=checkbox],input[type=radio] {
	margin:0
}
select {
	box-shadow:none;
	border-radius:0;
	border:1px solid #eee;
	height:30px;
	text-indent:3px;
	line-height:30px;
	width:120px
}
fieldset {
	min-width:0;
	padding:0;
	margin:0;
	border:0
}
img.lazy {
	background:url(../img/lazy.gif) center no-repeat
}
.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus {
	position:static;
	width:auto;
	height:auto;
	margin:0;
	overflow:visible;
	clip:auto
}
.fade {
	opacity:0;
	-webkit-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear
}
.fade.in {
	opacity:1
}
.nav {
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.nav>li {
	position:relative;
	display:block
}
.nav>li>a {
	position:relative;
	display:block;
	padding:10px 15px
}
.nav>li>a:hover,.nav>li>a:focus {
	text-decoration:none;
	background-color:#eee
}
.nav>li.disabled>a {
	color:#777
}
.nav>li.disabled>a:hover,.nav>li.disabled>a:focus {
	color:#777;
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent
}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background-color:#eee;
	border-color:#428bca
}
.nav .nav-divider {
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}
.nav>li>a>img {
	max-width:none
}
.navbar {
	position:relative;
	min-height:50px;
	margin-bottom:20px;
	border:1px solid transparent
}
.close {
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	filter:alpha(opacity=20);
	opacity:.2
}
.close:hover,.close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.5
}
button.close {
	-webkit-appearance:none;
	padding:0;
	cursor:pointer;
	background:0 0;
	border:0
}
.modal-open {
	overflow:hidden
}
.modal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0
}
.modal.fade .modal-dialog {
	-webkit-transition:-webkit-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out;
	-webkit-transform:translate3d(0,-25%,0);
	-o-transform:translate3d(0,-25%,0);
	transform:translate3d(0,-25%,0)
}
.modal.in .modal-dialog {
	-webkit-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto
}
.modal-dialog {
	position:relative;
	width:auto;
	width: 700px;
	margin:10px
}
.modal-content {
	position:relative;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	outline:0;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000
}
.modal-backdrop.fade {
	filter:alpha(opacity=0);
	opacity:0
}
.modal-backdrop.in {
	filter:alpha(opacity=50);
	opacity:.5
}
.modal-header {
	min-height:16.43px;
	padding:15px;
	border-bottom:1px solid #e5e5e5
}
.modal-header .close {
	margin-top:-2px
}
.modal-title {
	margin:0;
	line-height:1.42857143
}
.modal-body {
	position:relative;
	padding:15px
}
.modal-footer {
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-bottom:0;
	margin-left:5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
	margin-left:0
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll
}
.modal-qrcode .modal-dialog {
    width: 500px;
    margin: 5% auto 0;
}
.mainBox {
	width:1200px;
	margin:0 auto
}
.mainBoxim {
	width:1200px!important
}
.mainBox1000 {
	width:1000px;
	margin:0 auto
}
.mainBox800 {
	width:800px;
	margin:0 auto
}
.rellf18 {
	position:relative;
	left:-18px
}
.line {
	display:inline
}
.color-orange {
	color:#F6AB00
}
.color-blue {
	color:#37A0DB
}
.color-red {
	color:#c00
}
.errormsg {
	color:#f5ab00
}
.leftflo {
	float:left
}
.rightflo {
	float:right
}
.vtop {
	vertical-align:top
}
.vcenter {
	vertical-align:center
}
.vbottom {
	vertical-align:bottom
}
.tcenter {
	text-align:center
}
.tleft {
	text-align:left
}
.tright {
	text-align:right
}
.mt20 {
	margin-top:20px
}
.mb20 {
	margin-bottom:20px
}
i.xingbiicon {
	background:url(../img/xingbi1.png) no-repeat;
	height:20px;
	width:20px;
	display:inline-block;
	vertical-align:middle
}
.submitbutton {
	background:#37a0db;
	cursor:pointer;
	border:0;
	color:#fff;
	font-size:17px
}
.submitbutton:hover {
	background:#1d83ca
}
.input-rela {
	position:relative
}
.input-rela .input-placeholder {
	position:absolute;
	left:0;
	color:#999;
	top:6px;
	padding-left:5px
}
.clearfix {
	display:block;
	zoom:1
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0
}
.clear {
	clear:both
}
#header {
	background:#F5F5F5;
	height:30px;
	line-height:30px;
	position:relative;
	left:-18px
}
#header .rightflo {
	width:201px
}
#header .mainBox em,#header .mainBox label {
	margin:0 5px;
	font-weight:400
}
#header .mainBox label span a {
	color:inherit;
	line-height:30px
}
#header .mainBox label.separator {
	line-height:30px;
	color:#999
}
#header .mainBox em.separator {
	line-height:30px;
	color:#999;
	font-style:normal
}
#header .mainBox a:hover {
	color:#f6ab00
}
#header .mainBox .weixin {
	height:20px;
	width:20px;
	background:url(http://static.soolife.cn/asset/img/top_icon.png) -62px no-repeat;
	display:inline-block;
	margin:8px 0 0 6px;
	float:left;
	position:relative
}
#header .mainBox .weixin:hover {
	background-position:-62px
}
#header .mainBox .weixin .hide_weixin {
	display:none;
	width:110px;
	height:110px;
	background-color:#F5F5F5;
	position:absolute;
	top:21px;
	left:-28px;
	padding:10px;
	z-index:1000
}
#header .mainBox .weixin .hide_weixin .img-weixin {
	display:block;
	width:90px;
	height:90px;
	background:url(http://static.soolife.cn/asset/img/weixin.jpg) no-repeat
}
#header .mainBox .sina .hide_sina {
	display:none;
	width:110px;
	height:110px;
	background-color:#F5F5F5;
	position:absolute;
	top:21px;
	left:-54px;
	padding:10px;
	z-index:1000
}
#header .mainBox .sina .hide_sina .img-sina {
	display:block;
	width:90px;
	height:90px;
	background:url(http://static.soolife.cn/asset/img/sina.jpg) no-repeat
}
#header .mainBox .sina {
	height:20px;
	width:20px;
	background:url(http://static.soolife.cn/asset/img/top_icon.png) -28px 0 no-repeat;
	display:inline-block;
	margin:9px 0 0 6px;
	float:left;
	position:relative
}
#header .mainBox .sina:hover {
	background-position:-28px 0
}
#header .mainBox .center,#header .mainBox .headhelp {
	display:inline-block;
	position:relative;
	float:left;
	height:30px
}
#header .mainBox .center:hover,#header .mainBox .headhelp:hover {
	cursor:pointer
}
#header .mainBox .center span,#header .mainBox .headhelp span,#header .save {
	line-height:30px
}
#header .center .hide_center,#header .headhelp .hide_headhelp {
	text-align:center;
	display:none;
	width:75px;
	background:#fff;
	position:absolute;
	top:30px;
	left:-3px;
	border:1px solid #D5D5D5;
	border-top:solid 4px #39a1ea;
	z-index:110
}
#header .rightflo .center .hover,#header .rightflo .headhelp .hover {
	display:block
}
#header .center .hide_center a,#header .headhelp .hide_headhelp a {
	color:gray;
	display:block;
	line-height:30px
}
#header .center .hide_center a:hover,#header .headhelp .hide_headhelp a:hover {
	color:#FAAB02
}
#header .mainBox .map {
	display:inline-block;
	position:relative;
	float:left
}
#header .mainBox .hide_map {
	display:none;
	position:absolute;
	top:30px;
	right:-10px;
	border:1px solid #D5D5D5;
	height:200px;
	width:980px;
	z-index:100;
	padding-top:10px;
	background-color:#fff;
	border-top:solid 4px #39a1ea
}
#header .mainBox .map .hover {
	display:block
}
#header .hide_map .site-cont {
	height:180px;
	display:inline-block;
	overflow:hidden;
	padding-left:30px
}
#header .hide_map .site-cont h2 {
	font-size:16px;
	padding-bottom:8px;
	font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53"
}
#header .hide_map .site-cont h2 i {
	margin-right:3px
}
#header .hide_map .site-cont h2 span {
	padding-left:6px
}
#header .hide_map .site-cont ul {
	margin-right:-20px;
	overflow:hidden
}
#header .hide_map .site-hot a:hover,#header .hide_map .site-hot h2 {
	color:#f6ab00
}
#header .hide_map .site-market a:hover,#header .hide_map .site-market h2 {
	color:#37a0db
}
#header .hide_map .site-brand a:hover,#header .hide_map .site-brand h2 {
	color:#0068b6
}
#header .hide_map .site-help a:hover,#header .hide_map .site-help h2 {
	color:#2c4098
}
#header .hide_map .site-hot {
	width:280px
}
#header .hide_map .site-market {
	width:280px;
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5
}
#header .hide_map .site-brand {
	width:180px;
	border-right:1px solid #f5f5f5
}
#header .hide_map .site-help {
	width:200px
}
#header .hide_map .site-list li {
	width:61px;
	float:left;
	padding:3px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
#header .hide_map .sn-sitemap .mui-global-iconfont {
	padding-right:4px
}
#header .hide_map .site-list li a {
	position:relative;
	color:gray
}
#header .hide_map .sn-sitemap-icon {
	position:absolute;
	width:9px;
	height:11px;
	line-height:0;
	font-size:0;
	overflow:hidden;
	top:-7px;
	right:-7px;
	background:url(http://static.soolife.cn/asset/img/mapicon.png) no-repeat
}
#header .hide_map .sn-sitemap-icon-new {
	background-position:-3px -11px
}
#header .hide_map .sn-sitemap-icon-hot {
	background-position:-3px 0
}
#codeweixin .code-weixin img {
	width:470px
}
#codesina .code-sina img {
	width:470px
}
.tipetbar {
	position:fixed;
	top:0;
	right:0;
	height:100%;
	z-index:1600
}
.tipetbar .rtbar {
	width:35px;
	background-color:#0068b6;
	float:left;
	height:100%
}
.tipetbar .rtbar_cart {
	width:350px;
	background-color:#fff;
	float:left;
	height:100%;
	padding:15px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.4);
	box-shadow:0 0 5px rgba(0,0,0,.4);
	border:1px solid #F5F5F5
}
#removecart {
	cursor:pointer
}
.rtbar-cart-recommend {
	display:none;
	width:534px;
	height:264px;
	position:absolute;
	right:35px;
	padding:15px;
	top:0;
	background:#fff;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.4);
	box-shadow:0 0 5px rgba(0,0,0,.4);
	border:1px solid #F5F5F5
}
.rtbar-cart-recommend .rtbar-cart-recommend-arr {
	position:absolute;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	font-size:16px;
	font-family:"\5b8b\4f53";
	color:#fff;
	right:-9px;
	top:51px
}
.rtbar-cart-recommend .rtbar-cart-recommend-close {
	text-align:right
}
#removerecomcart {
	color:#333
}
.rtbar-cart-recommend p {
	margin:0
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd {
	width:500px;
	height:45px;
	border-bottom:1px dotted #ccc;
	overflow:hidden
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-logo {
	width:34px;
	line-height:60px;
	font-size:30px;
	position:absolute;
	color:#0068B6;
	top:20px;
	left:19px
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-p {
	margin:0 0 0 50px;
	color:#666
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-hint {
	line-height:20px;
	font-size:14px;
	color:#666;
	font-weight:700;
	margin:0
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-other {
	margin:0
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd {
	margin-top:10px
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-p {
	color:#666
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-p a {
	color:#38b;
	float:right;
	margin-right:24px
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-list {
	width:500px;
	overflow:hidden;
	height:122px;
	margin-top:10px;
	position:relative
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item {
	float:left;
	overflow:hidden;
	width:125px;
	display:block
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item a {
	width:120px;
	height:120px;
	display:block;
	border:1px solid #d3d3d3;
	overflow:hidden
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item p {
	width:120px;
	height:24px;
	line-height:24px;
	background:#000;
	opacity:.6;
	color:#fff;
	display:block;
	position:absolute;
	bottom:1px;
	text-align:center;
	font-weight:700
}
.rtbar .rtbar-tab-avatar {
	margin-top:70px;
	position:relative
}
.rtbar .rtbar-avatar {
	left:0;
	margin-left:3px;
	top:0;
	width:26px;
	height:26px;
	border-radius:13px
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter {
	display:none;
	height:130px;
	width:280px;
	background:#fff;
	position:absolute;
	left:-280px;
	top:-20px;
	padding:20px 30px 30px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.4);
	box-shadow:0 0 5px rgba(0,0,0,.4);
	z-index:100
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-close {
	text-align:right;
	color:#999
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-close i:hover {
	cursor:pointer;
	color:#37a0db
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-title {
	height:30px;
	line-height:30px;
	font-size:14px
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login {
	margin-top:10px
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type=password],.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type=text] {
	border-radius:2px;
	text-indent:5px;
	width:220px
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type=submit] {
	height:30px;
	width:220px;
	margin-top:15px;
	margin-bottom:10px
}
.rtbar .rtbar-tab {
	position:relative;
	width:35px;
	margin:20px auto;
	color:#fff
}
.rtbar .rtbar-tab:hover {
	background-color:#37a0db;
	cursor:pointer;
	color:#000
}
.rtbar .rtbar-tab .rtbar-arrowbuy {
	position:absolute;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	font-size:16px;
	font-family:"\5b8b\4f53";
	color:#fff;
	top:8px;
	display:none;
	right:-8px
}
.rtbar .rtbar-tab .rtbar-arrow,.rtbar .rtbar-tab-avatar .rtbar-arrow {
	position:absolute;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	font-size:16px;
	font-family:"\5b8b\4f53";
	color:#494949;
	top:8px;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	right:-8px
}
.rtbar .rtbar-tab-avatar .rtbar-arrow {
	-webkit-opacity:1;
	opacity:1;
	top:24px;
	color:#fff
}
.rtbar .rtbar-tab .rtbar-hint {
	display:none;
	width:90px;
	top:-1px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	background-color:#494949;
	position:absolute;
	right:75px
}
.rtbar .rtbar-tab .title {
	display:block;
	margin-left:7px;
	top:40px;
	width:20px;
	height:50px;
	line-height:16px;
	overflow:hidden;
	padding:0;
	font-size:12px;
	text-align:center;
	color:#fff
}
.rtbar .rtbar-tab .rtbar-img {
	left:0;
	top:0;
	width:35px;
	padding-top:8px;
	padding-bottom:8px;
	margin-left:8px;
	color:#f6ab00
}
.rtbar .rtbar-tab .rtbar-img:hover {
	color:#fff
}
.rtbar .rtbar-cart .amount {
	padding:0 3px;
	min-width:14px;
	height:20px;
	line-height:20px;
	width:20px;
	text-align:center;
	color:#fff;
	margin-left:8px;
	font-size:12px;
	border-radius:10px;
	background-color:#c40000
}
.rtbar .rtbar-top a {
	color:#fff
}
.mui-mbarp-prof-tip {
	position:absolute;
	top:-10px;
	right:0;
	width:260px;
	height:275px;
	background:#fff;
	z-index:999999;
	cursor:default;
	border:1px solid #D1D1D1;
	border-right:0;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.4);
	box-shadow:0 0 5px rgba(0,0,0,.4);
	-webkit-transform:translateZ(0);
	-webkit-user-select:none
}
.mui-mbarp-prof-tip-login {
	width:320px;
	height:270px;
	overflow:hidden;
	background:#fafafa
}
.mui-mbarp-prof-tip * {
	color:#666
}
.mui-mbarp-prof-arr,.mui-mbarp-prof-arr-login {
	position:absolute;
	top:1px;
	right:-8px;
	color:#fff;
	z-index:999999
}
.mui-mbarp-prof-arr-login {
	color:#fafafa
}
.mui-mbarp-prof-login-close {
	position:absolute;
	display:block;
	top:6px;
	right:10px;
	z-index:999999;
	width:11px;
	height:11px;
	font-size:1px;
	cursor:pointer
}
.mui-mbarp-prof-bd {
	position:absolute;
	left:17px;
	color:#333
}
.mui-mbarp-prof-hd {
	height:17px;
	line-height:17px;
	margin-right:10px;
	text-align:right
}
.mui-mbarp-prof-hd a {
	text-decoration:none
}
.mui-mbarp-prof-hd a:hover {
	text-decoration:underline
}
.mui-mbarp-prof-icon-bd {
	position:relative;
	top:0;
	left:5px;
	width:60px;
	height:60px;
	border-radius:30px;
	margin-bottom:30px;
	border:3px solid #e6e6e6
}
.mui-mbarp-prof-icon-level {
	position:absolute;
	right:-8px;
	top:-8px;
	width:24px;
	height:24px;
	background:#F6AB0D;
	color:#fff;
	line-height:24px;
	border-radius:50%;
	text-align:center
}
.mui-mbarp-prof-icon,.mui-mbarp-prof-icon-def {
	position:absolute;
	left:0;
	top:0;
	width:60px;
	height:60px;
	border-radius:60px
}
.mui-mbarp-prof-icon-edit,.mui-mbarp-prof-icon-edit-mask {
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:center
}
.mui-mbarp-prof-icon-edit-mask {
	background:#fff;
	opacity:.8;
	filter:alpha(opacity=80)
}
.mui-mbarp-prof-icon-edit a {
	color:#38b;
	text-decoration:underline
}
.mui-mbarp-prof-ci-bd {
	position:absolute;
	left:87px;
	top:50px
}
.mui-mbarp-prof-ci {
	float:left;
	text-decoration:none;
	color:#37A0DB;
	display:block;
	text-align:center;
	width:53px;
	height:20px;
	line-height:20px;
	border:1px solid #e5e5e5;
	border-radius:10px
}
.mui-mbarp-prof-lv-bd {
	position:absolute;
	left:87px;
	top:0
}
.mui-mbarp-prof-lv-num {
	color:#37A0DB
}
.mui-mbarp-prof-lv-tl {
	max-width:130px;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	white-space:nowrap;
	height:18px;
	line-height:18px;
	overflow:hidden;
	font-weight:700;
	color:#616161;
	margin-bottom:5px
}
.mui-mbarp-prof-lv-tl a {
	width:89px;
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle
}
.mui-mbarp-prof-lv-degrade {
	display:none
}
.mui-mbarp-prof-lv1 {
	background-position:-106px -20px
}
.mui-mbarp-prof-lv2 {
	background-position:-130px -20px
}
.mui-mbarp-prof-lv3 {
	background-position:-154px -20px
}
a.mui-mbarp-prof-tovip,a.mui-mbarp-prof-vip-4-to-right {
	background:#b10000;
	color:#fff;
	border-radius:10px;
	padding:2px 6px
}
.mui-mbarp-prof-t4-notice {
	padding-top:4px
}
.mui-mbarp-prof-sep {
	width:215px;
	height:18px;
	font-size:1px;
	margin-bottom:5px;
	border-bottom:1px dotted #eee
}
.mui-mbarp-prof-priv-tl {
	width:40px;
	overflow:hidden;
	float:left;
	color:#999
}
.mui-mbarp-prof-priv {
	font-family:mbar-font;
	color:#b10000;
	float:left;
	display:block;
	font-size:16px;
	width:21px;
	height:21px;
	line-height:21px
}
.mui-mbarp-prof-privs-off .mui-mbarp-prof-priv {
	color:#cecece;
	text-decoration:none!important
}
.mui-mbarp-prof-ci-tl {
	color:#a9a9a9
}
.mui-mbarp-prof-bottom-arrow .mui-mbarp-prof-arr-login {
	top:236px
}
.mui-mbar-status-mini .mui-mbar-tab-prof .mui-mbar-tab-tip {
	display:none!important
}
.mui-mbarp-prof-tip-login .j_minilogin_iframe {
	background:#fff
}
.mui-mbarp-prof-right-cont {
	width:260px;
	left:-17px;
	position:relative
}
.mui-mbarp-prof-right-hd {
	width:215px;
	overflow:hidden;
	padding:0 22px
}
.mui-mbarp-prof-right-hd-tab {
	height:30px
}
.mui-mbarp-prof-right-hd-tab li {
	height:30px;
	line-height:30px;
	width:72px;
	float:left;
	overflow:hidden;
	text-align:center;
	position:relative
}
.mui-mbarp-prof-right-bd {
	width:260px;
	height:110px
}
.mui-mbarp-prof-right-hd-tab-cont {
	display:none;
	background:#d93e4e
}
.mui-mbarp-prof-right-hd-tab-cont-vip {
	width:260px;
	height:110px
}
.mui-mbarp-prof-right-hd-tab li b {
	position:absolute;
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	border-width:7px;
	border-style:dashed dashed solid;
	border-color:transparent transparent #d93e4e;
	bottom:0;
	left:31px;
	display:none
}
.mui-mbarp-prof-right-hd-tab li.sellected b {
	display:block
}
.mui-mbarp-prof-right-hd-tab .mui-mbarp-prof-right-hd-tab-item-vip b {
	border-color:transparent transparent #f5f5f5
}
.mui-mbarp-prof-vip-right-cont,.mui-mbarp-prof-vip-right-slide {
	width:260px;
	height:110px;
	position:relative;
	background:#f5f5f5
}
.mui-mbarp-prof-vip-right-slide-cont {
	padding-top:20px;
	width:222px;
	margin:0 auto;
	overflow:hidden;
	height:68px!important;
	position:relative
}
.mui-mbarp-prof-vip-right-item {
	width:74px;
	text-align:center;
	float:left
}
.mui-mbarp-prof-vip-right-item a {
	text-decoration:none;
	width:74px;
	height:68px;
	display:block
}
.mui-mbarp-prof-vip-right-item a:hover {
	text-decoration:none
}
.mui-mbarp-prof-vip-right-item a p {
	color:#666
}
.mui-mbarp-prof-vip-right-item a:hover p {
	text-decoration:underline
}
.mui-mbarp-prof-vip-right-item a:hover .mui-mbarp-prof-vip-right-icon {
	text-decoration:none
}
.mui-mbarp-prof-vip-right-item .mui-mbarp-prof-vip-right-icon {
	font-size:35px;
	line-height:35px;
	color:#878787
}
.mui-mbarp-prof-vip-right-own .mui-mbarp-prof-vip-right-icon {
	color:#b10000
}
.mui-mbarp-prof-vip-right-item-wuyou .mui-mbarp-prof-vip-right-icon {
	font-size:45px
}
.mui-mbarp-prof-vip-right-slide-next,.mui-mbarp-prof-vip-right-slide-prev {
	position:absolute;
	font-size:14px;
	top:30px;
	cursor:pointer
}
.mui-mbarp-prof-vip-right-slide-prev {
	left:4px
}
.mui-mbarp-prof-vip-right-slide-next {
	right:4px
}
.mui-mbarp-prof-user-bubble-cont {
	margin-top:-10px
}
.mui-mbarp-prof-user-bubble-img {
	float:left;
	margin:0 15px 20px
}
.mui-mbarp-prof-user-bubble-red {
	color:#c40000
}
.mui-mbarp-prof-user-bubble-notice p {
	line-height:18px;
	font-size:12px
}
.mui-mbarp-prof-user-bubble-p {
	margin-top:10px;
	margin-left:130px
}
.mui-mbarp-prof-user-bubble-red-b {
	color:#c00;
	font-weight:700
}
.mui-mbarp-prof-user-bubble-arr {
	color:#c40000;
	font-size:26px;
	position:absolute;
	bottom:25px;
	right:123px;
	z-index:-1
}
.mui-mbar-prof-user-bubble-trangle {
	width:0;
	height:0;
	border-width:12px 12px 12px 0;
	border-style:solid;
	border-color:transparent #c40000 transparent transparent;
	display:block;
	position:absolute;
	left:-12px;
	top:0
}
.mui-mbarp-prof-user-bubble-block .mui-mbarp-prof-user-bubble-get {
	line-height:24px;
	font-size:12px;
	height:24px
}
.mui-mbarp-prof-user-bubble-get span {
	font-size:14px;
	font-weight:700
}
.mui-mbarp-prof-user-bubble-block {
	background:#C40000;
	width:110px;
	height:24px;
	color:#fff;
	position:absolute;
	left:130px
}
.mui-mbarp-prof-user-get {
	border-radius:10px;
	background:#c40000;
	color:#fff;
	line-height:24px;
	height:24px;
	text-align:center;
	width:96px;
	float:left;
	margin-top:12px
}
.mui-mbar-prof-reddot {
	font-size:20px;
	color:#c40000;
	margin:-3px -4px 0 0
}
.rtbar_cart .toolbar-hd-title {
	line-height:40px;
	padding-top:29px;
	font-size:18px;
	border-bottom:1px solid #f5f5f5;
	margin-bottom:10px
}
.mini-cart-tabs {
	overflow:hidden;
	margin-bottom:20px
}
.mini-cart-tabs li {
	float:left;
	width:49.9%
}
.mini-cart-tabs .mini-cart-tab {
	display:block;
	height:28px;
	line-height:28px;
	border:1px solid #e7e7e7;
	color:#434343;
	text-align:center;
	background:#fff
}
.mini-cart-tabs .mini-cart-tab .number {
	color:inherit
}
.mini-cart-tab-disabled,.mini-cart-tab-disabled .mini-cart-tab {
	cursor:not-allowed;
	text-decoration:none
}
.mini-cart-tabs .mini-cart-promo-count a {
	border-right:0
}
.mini-cart-list-hd {
	position:relative;
	line-height:1
}
.mini-cart-list-title {
	color:#999;
	margin-bottom:10px
}
.mini-cart-list-hd a {
	display:inline-block;
	position:absolute;
	right:0;
	top:0
}
.mini-cart-items-list {
	background:#fff;
	margin:12px 0;
	max-height:264px;
	overflow:auto
}
.mini-cart-list-bd .mini-cart-empty {
	min-height:200px;
	text-align:center;
	line-height:200px
}
ul.mini-cart-items-list>li {
	list-style:none;
	border-bottom:1px dotted #7f7f7f;
	overflow:hidden;
	margin:5px;
	position:relative;
	background:#fff;
	border-bottom-color:#e8e8e8;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px
}
ul.mini-cart-items-list>li:hover {
	border:1px solid #EDF9FF
}
.mini-cart-item-pic {
	width:80px;
	height:80px;
	float:left;
	position:relative;
	margin-right:5px
}
.mini-cart-item-pic a {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:80px;
	height:80px
}
.mini-cart-item-pic img {
	max-width:80px;
	max-height:80px;
	vertical-align:middle
}
.mini-cart-item-info {
	float:left;
	height:80px
}
.mini-cart-list i.icon-remove {
	float:right;
	cursor:pointer;
	color:#999
}
.mini-cart-list i.icon-remove:hover {
	color:#f3a500
}
.mini-cart-item .mini-cart-item-title {
	width:180px
}
.mini-cart-item .mini-cart-item-title a {
	white-space:nowrap;
	overflow:hidden;
	color:#999;
	display:block;
	text-overflow:ellipsis;
	margin-left:10px
}
.mini-cart-item .mini-cart-item-num {
	white-space:nowrap;
	overflow:hidden;
	color:#999;
	display:block;
	text-overflow:ellipsis;
	margin-left:10px;
	margin-top:5px
}
.mini-cart-item .mini-cart-item-num label {
	color:#f3a500
}
.mini-cart-item .mini-cart-item-price {
	position:absolute;
	width:190px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	bottom:3px;
	left:90px
}
.mini-cart-item .mini-cart-item-price-c,.mini-cart-item-price-o {
	font-family:Arial;
	color:#515151
}
.mini-cart-item .mini-cart-item-price-c em,.mini-cart-item .mini-cart-item-price-o em {
	font-family:Tahoma,Arail;
	font-style:normal;
	font-weight:700;
	margin-left:3px;
	color:inherit
}
.mini-cart-item .mini-cart-item-price-c {
	color:#393939;
	font-size:16px
}
.rtbar_cart .mini-cart-submit {
	height:37px;
	line-height:37px;
	background:#37A0DB;
	color:#fff;
	text-align:center;
	font-size:16px;
	display:block
}
.rtbar_cart .mini-cart-submit:hover {
	background:#0068b6
}
body {
	min-width:1240px
}
}.footerdiv {
	background:#FBFBFB;
	min-width:1200px;
	position:relative;
	left:-18px;
	z-index:600
}
.footer_wrap {
	padding:40px 0 10px;
	width:100%
}
.footer_nav {
	background:url(http://static.soolife.cn/asset/img/footer.png) -500px 0 no-repeat;
	margin:0 auto;
	overflow:hidden;
	width:1200px
}
.footer_nav ul li {
	float:left
}
.footer_nav ul li dl {
	margin:0
}
.footer_nav dl dt {
	color:#666;
	font-size:16px;
	font-weight:400;
	padding:6px 0
}
.footer_nav dl dd {
	color:#999;
	font-size:12px;
	line-height:22px
}
.footer_nav dl dd a {
	color:#999;
	text-decoration:none
}
.footer_nav dl dd a:hover {
	color:#F6AB00
}
.footer_nav .footer_nav_first {
	padding-left:98px
}
.footerdiv .footer {
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	padding:5px 0 20px
}
.footerdiv .footer p {
	line-height:25px;
	color:#999;
	font-family:"瀹嬩綋";
	margin-bottom:0;
	margin-top:0
}
.footerdiv .footer p a {
	color:#999
}
.footerdiv .footer p a:hover {
	color:#F6AB00
}
.footerdiv .foot-s {
	min-width:1200px;
	height:70px;
	background:#3B87EE;
	padding-top:8px;
	padding-bottom:8px;
	margin:20px 0 35px
}
.footerdiv .foot-s a {
	float:left;
	height:46px;
	background:url(http://static.soolife.cn/asset/img/footer.png) no-repeat;
	text-indent:-100%;
	overflow:hidden
}
.footerdiv .foot-s .s1 {
	width:338px;
	background-position:0 1px
}
.footerdiv .foot-s .s2 {
	margin-left:41px;
	width:470px;
	background-position:0 -44px
}
.footerdiv .foot-s .s3 {
	margin-left:41px;
	width:310px;
	background-position:0 -92px
}
.member {
	padding-top:20px;
	background:#fbfbfb;
	position:relative;
	left:-18px
}
.member .mainBox .bcrumb {
	margin:0 auto;
	padding:0 0 12px
}
.member .mainBox .bcrumb li {
	display:inline-block;
	font-size:14px;
	line-height:16px;
	color:#37a0db
}
.member .mainBox .bcrumb li a {
	color:#37a0db;
	margin-right:3px
}
.member .mainBox .bcrumb li .divider {
	color:#333
}
.member .my-f-left {
	margin-bottom:5px;
	width:200px;
	background:#F7F7F7;
	border-top:none;
	border-bottom-color:#eee;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	-webkit-box-shadow:rgba(0,0,0,.1) 0 1px 5px
}
.my-f-menu {
	margin-top:5px
}
.my-f-menu-tit {
	border:1px solid #eee;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	font-size:16px;
	line-height:30px;
	padding-left:24px;
	width:208px;
	margin-left:-6px;
	position:relative;
	background-color:#37A0DB;
	color:#fff
}
.my-f-menu-con {
	background:#fff
}
.my-f-menu-list {
	padding:5px 0
}
.my-f-menu-list li {
	height:25px;
	padding:4px 0 4px 20px
}
.my-f-menu-list li a {
	line-height:18px;
	padding-left:18px;
	display:inline-block;
	height:18px;
	overflow:hidden;
	font-size:14px;
	color:gray
}
.my-f-menu-list li a:hover {
	color:#37A0DB
}
.my-f-menu-list li.cur a {
	color:#f3a500
}
.member .my-f-right {
	width:980px;
	min-height:877px;
	padding-bottom:10px
}
.member .my-r-right {
	min-height:760px;
	width:980px;
	border-top:solid 2px #37a0db;
	margin-bottom:5px;
	background:#fff;
	border-bottom-color:#e8e8e8;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px
}
.member .my-f-right {
	border:none
}
.member .my-f-r-top {
	border:1px solid #e0e0e0
}
.member .my-f-r-title {
	padding-left:30px;
	font-size:18px;
	color:#666;
	height:47px;
	line-height:47px;
	font-weight:400
}
.chktime {
	margin-top:12px;
	padding-left:30px;
	color:#666
}
.member .ml28 {
	margin-left:28px
}
.member .my-ac-haowai {
	color:#ff2400;
	line-height:40px
}
.member .my-ac-users {
	background:#FFF;
	border-bottom-color:#e8e8e8;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px
}
.member .my-ac-users .comPhoto {
	float:left;
	width:140px;
	height:140px;
	position:relative;
	margin:10px
}
.member .my-ac-users .my-avator {
	height:256px;
	background-color:#f3f3f3;
	float:left;
	width:170px;
	border:4px solid #fff
}
.member .my-ac-users .my-avator .my-avator-upbtn {
	background:#f6ab00;
	color:#fff;
	float:right;
	font-weight:700;
	line-height:14px;
	margin-right:40px;
	margin-top:18px;
	padding:4px 15px
}
.member .my-ac-users .my-avator .my-avator-upbtn:hover {
	background:#ef8f01;
	text-decoration:none
}
.member .my-ac-users .comPhoto .imgInfo {
	position:absolute;
	top:0;
	left:0;
	margin:10px;
	width:120px
}
.member .my-ac-users .comPhoto .imgBorder {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:url(http://static.soolife.cn/asset/img/mbrcenter/C_imgMask.png) no-repeat
}
.member .my-ac-users .comPhoto .overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:opacity .2s ease-in;
	-moz-transition:opacity .2s ease-in;
	-ms-transition:opacity .2s ease-in;
	-o-transition:opacity .2s ease-in
}
.member .my-ac-users .comPhoto:hover .overlay {
	opacity:.6;
	filter:alpha(opacity=60)
}
.member .my-ac-users .comPhoto .imgMask {
	position:absolute;
	top:0;
	left:0;
	width:140px;
	height:140px;
	cursor:pointer;
	background:url(http://static.soolife.cn/asset/img/mbrcenter/C_imgMask.png) no-repeat
}
.member .my-ac-users .comPhoto span {
	float:left;
	width:100%;
	text-align:center;
	margin-top:35px;
	position:relative;
	color:#fff;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:opacity .2s ease-in;
	-moz-transition:opacity .2s ease-in;
	-ms-transition:opacity .2s ease-in;
	-o-transition:opacity .2s ease-in;
	cursor:pointer
}
.member .my-ac-users .comPhoto:hover span {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer
}
.member .my-ac-users .comPhoto .joinButton {
	float:left;
	width:50px;
	height:50px;
	background-position:-3px -1px;
	position:relative;
	margin:25px 45px 0;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transform:scale(0);
	-webkit-transition:all .2s ease-in;
	-moz-transform:scale(0);
	-moz-transition:all .2s ease-in;
	-ms-transform:scale(0);
	-ms-transition:all .2s ease-in;
	-o-transform:scale(0);
	-o-transition:all .2s ease-in
}
.member .my-ac-users .comPhoto:hover .joinButton {
	opacity:.8;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1)
}
.member .my-ac-users .comPhoto:hover .joinButton:hover {
	opacity:1
}
.member .my-ac-users .detailsBox {
	border:none
}
.member .my-ac-users .joinButton {
	background:url(http://static.soolife.cn/asset/img/mbrcenter/C_imgBtn.png) no-repeat
}
.member .my-ac-users .info {
	width:500px;
	font-size:14px;
	margin-left:30px;
	padding-top:13px
}
.member .my-ac-username {
	font-size:24px;
	font-family:Arial;
	color:#333
}
.member .my-ac-userverfy {
	border-bottom:solid 1px #e9e9e9;
	line-height:45px
}
.member .my-ac-userverfy b {
	color:#37a0db
}
.member .my-ac-paisafty {
	height:110px;
	width:200px;
	border-right:solid 1px #e9e9e9;
	padding-left:10px
}
.member .my-ac-balance label,.member .my-ac-paisafty label {
	font-weight:400
}
.member .my-ac-balance {
	float:left;
	margin-left:10px
}
.member .my-ac-ps-two {
	margin-top:15px;
	height:18px;
	line-height:18px
}
.member .my-ac-ps-two span {
	color:#f6ab00
}
.potion-evaluate,.potion-pay,.potion-take {
	margin:10px;
	float:left
}
.potion-evaluate i,.potion-pay i,.potion-take i {
	width:48px;
	height:57px;
	display:block
}
.potion-pay i {
	background:url(http://static.soolife.cn/asset/img/mbrcenter/icon-shop-option_01.png) center no-repeat!important
}
.potion-take i {
	background:url(http://static.soolife.cn/asset/img/mbrcenter/icon-shop-option_02.png) center no-repeat!important
}
.potion-evaluate i {
	background:url(http://static.soolife.cn/asset/img/mbrcenter/icon-shop-option_03.png) center no-repeat!important
}
.myorder {
	margin:10px 0 0;
	border-bottom-color:#e8e8e8;
	-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;
	box-shadow:rgba(0,0,0,.1) 0 1px 5px
}
.myorder .title {
	color:#333;
	font-size:16px;
	padding:16px 0 0 20px
}
.myorder .first-shopping {
	display:block;
	position:relative;
	margin:0 auto;
	width:350px;
	height:240px;
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-order.png);
	background-repeat:no-repeat
}
.myorder .first-shopping p {
	position:absolute;
	top:116px;
	left:145px;
	color:#DDD
}
.empty-favor {
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-favor.png)!important;
	background-repeat:no-repeat
}
.empty-favor-shop {
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-favorShop.png)!important;
	background-repeat:no-repeat
}
.empty-through {
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-through.png)!important;
	background-repeat:no-repeat
}
.empty-evaluation {
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-evaluation.png)!important;
	background-repeat:no-repeat
}
.empty-shopping-cart {
	background-image:url(http://static.soolife.cn/asset/img/mbrcenter/empty-shoppingCart.png)!important;
	background-repeat:no-repeat
}
.row .box {
	background-color:#fff;
	border:1px solid #ddd;
	margin:8px 0;
	min-height:140px;
	width:980px
}
.container {
	font-size:12px;
	width:100%
}
.my-f-right .myorder {
	height:300px;
	background-color:#fff
}
.my-f-right .myorder .article-order {
	float:left;
	height:239px;
	position:relative;
	width:33.25%;
	border-right:1px solid #e9e9e9
}
.my-f-right .myorder .article-order-last {
	border-right:none
}
.my-f-right .myorder .article-order .order-number {
	color:#666;
	display:block;
	font-size:12px;
	margin:15px 0 10px 15px
}
.my-f-right .myorder .article-order .order-number em {
	font-family:Arial
}
.my-f-right .myorder .article-order .order-number em,i {
	font-style:normal
}
.my-f-right .myorder .article-order .list-order-pic {
	margin-left:5px;
	overflow:hidden
}
.app-card .article-order {
	height:163px;
	position:relative
}
.list-order-pic .list-order-costpic {
	margin-left:10px;
	width:28.5%
}
.pt15 {
	padding-top:15px
}
.list-order-picmore .list-order-textpic {
	margin:0 5px 10px 15px;
	position:relative;
	width:17.3%
}
.list-order-costpic .link-evaluate,.list-order-textpic .link-evaluate {
	height:16px;
	margin-top:5px;
	overflow:hidden;
	text-align:center
}
.lv5-start-evaluate {
	background-position:0 -55px
}
.ico-start-evaluate {
	background:url(http://static.soolife.cn/asset/img/mbrcenter/starts.png);
	height:10px;
	margin:8px auto 0;
	width:57px
}
.text-empty-orderpic {
	color:#bbb;
	padding-top:40px;
	text-align:center;
	width:100%
}
#header .rightflo{
	width:380px;
}
.businessor{
	display: inline-block;
	position: relative;
	float: left;
	height: 30px;	
}
.businessor a{
	color:#333333;
}
.rightflo{
	position:relative;
}
.rightflo .navmore {
	position: absolute;
	right:15px;
	top: 2px;
	width: 77px;
	height: 23px;
	overflow: hidden;
	background-color:#fff;
	cursor: pointer;
	z-index: 80;
	border:1px solid #eee;
}
.rightflo .navmore dt{
	background-color:#F5F5F5;
	height:23px;
	line-height:23px;
   	padding-left:5px;
}
.rightflo .navmore.hover{
	height:auto;
	border:1px solid #eee;
}
.rightflo .navmore dd a {
	display:block;
   height: 25px;
   line-height: 25px;
   text-align:left;
   padding-left:8px;
}
.rightflo .navmore dd a:hover{
	background-color:#37A0DB;
	color:red;
}
#nav{
	background:#3B87EE ;
	padding: 10px;
}
#nav .logo{
	float: left;
	width: 340px;
}
#nav .logo .logoIcon{
	width: 200px;
	height: 60px;
	float: left;
	display: block;
	/*background: url(http://static.soolife.cn/asset/img/logo.gif) no-repeat;*/
	background: url(../img/logo_white.png) no-repeat;
}
#nav .logo .mylife{
	float: left;
    font-size: 20px;
    font-family: "微软雅黑";
    height: 22px;
    color: #fff;
    margin-left: 15px;
}
#nav .logo .soolifeIndex{
	float: left;
    margin: 12px 0 0 15px;
    color: #A5DAF7;
    border: 1px solid #A5DAF7;
    height: 18px;
    line-height: 16px;
    padding: 0 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#nav .logo .soolifeIndex:hover{
	background: #37A0DB;
	color: white;
	border: 1px solid #37A0DB;
}
#nav .navitems{
	float: left;
    width: 420px;
    padding: 18px 0;
    margin: 0 0 0 30px;
    font-size: 15px;
    position: relative;
}
.navitems ul li{
	float: left;
	margin: 0 30px 0 0;
}
#nav .navitems a{
	font-size: 15px;
	color: #fff;
}
#nav .navitems a:hover{
	text-decoration: underline;
}
#nav .navitems .dl{
	position: relative;
}
#nav .navitems .dl .dt {
    white-space: nowrap;
    padding: 0 11px;
    width: 94px;
    color: #fff;
}
#nav .navitems .dl .dd {
    position: absolute;
    top: 22px;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    width: 94px;
}
#nav .navitems .dl .dd a{
	font-size: 12px;
	display: block;
	width: 88px;
	padding: 0 0 0 10px;
	line-height: 30px;
}
#nav .navitems .dl .dt i{
	font-size: 10px;
}
#nav .navitems .hover{
	z-index:10
}
#nav .navitems .hover a{
	color:#337ab7
}
#nav .navitems .hover .dt{
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom:0;
}
#nav .navitems .hover .dt span{
	color:#337ab7
}
#nav .navitems .hover .dt i{
	color:#337ab7
}
#nav .navitems .hover .dd{
	display:block
}
#nav .navitems .starNum{
	position: absolute;
   	top: 10px;
   	left: 352px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 5px 5px 5px 0;
    min-width: 12px;
    text-align: center;
}
#nav .nav-r{
	float: right;
	width: 200px;
	margin-right: 50px;
}
#nav .nav-r .cartBox{
	float: right;
	margin: 0;
	position: relative;
	height: 26px;
	margin-top: 15px;
}
#nav .nav-r .cartBox .cw-icon{
	height: 30px;
	padding: 0 28px 0 36px;
	background: #fff;
	text-align: center;
	line-height: 24px;
	position: relative;
}
#nav .nav-r .cartBox .cw-icon .ci-left{
	top: 7px;
	left: 10px;
	position: absolute;
	width: 18px;
	height: 16px;
	color: #37A0DB;
}
#nav .nav-r .cartBox .cw-icon .ci-right{
	top: 6px;
	right: 7px;
	width: 7px;
	height: 13px;
	overflow: hidden;
	font: 400 13px/13px simsun;
	color: #999;
	position: absolute;
}
#nav .nav-r .cartBox .cw-icon .ci-count{
	position: absolute;
    top: -4px;
    left: 96px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}
.cartBox .drop-layer{
	position: absolute;
	display: none;
	z-index: 111;
	width: 330px;
	background: #fff;
	right: 0;
	-webkit-box-shadow: -3px 3px 3px #ccc;  
  	-moz-box-shadow: -3px 3px 3px #ccc;  
  	box-shadow: -3px 3px 3px #ccc;  
}
.cartBox .drop-layer .noGoods{
	padding: 8px 10px;	
	text-align: center;
	color: #999;
	line-height: 49px;
	height: 63px;
	display: none;
}
.cartBox .drop-layer .noGoods b{
	background: url(../img/nogoods.png);
	width: 57px;
	height: 49px;
	float: left;
}
.cartBox .drop-layer .hasGoods{
	/*display: none;*/
	color: #666;
	font-size: 12px;
}
.cartBox .drop-layer .hasGoods .drop-layer-header{
	padding: 8px 2px 8px 10px;
}
.cartBox .drop-layer .hasGoods h4{
	font-size: 12px;
	font-weight: bold;
}
.cartBox .drop-layer .hasGoods .drop-layer-content{
	padding: 0 2px 0 10px;
	max-height: 300px;
	overflow: auto;
	overflow-x: hidden;
}
.cartBox .drop-layer .hasGoods .drop-layer-content ul li{
	float: left;
	border-bottom: 1px dashed #DCDCDC;
	padding: 5px 0;
}
.drop-layer .hasGoods .drop-layer-content .goodsImg{
	border: 1px solid #DCDCDC;
	padding: 1px;
	float: left;
	width: 45px;
	height: 53px;
}
.drop-layer .hasGoods .drop-layer-content .goodsImg img{
	width: 40px;
}
.drop-layer .hasGoods .drop-layer-content .goodsBrief{
	float: left;
	width: 150px;
	margin-left: 5px;
}
.drop-layer .hasGoods .drop-layer-content .goodsBrief p{
	margin: 0;
}
.drop-layer .hasGoods .drop-layer-content .goodsPrice{
	float: left;
	text-align: right;
	margin-left: 25px;
}
.drop-layer-content .goodsPrice .salePrice{
	font-weight: bold;
}
.drop-layer-content .goodsPrice a:hover{
	color: #c81623;
}
.drop-layer .hasGoods .drop-layer-foot{
	background: #F3F3F3;
	height: 35px;
	line-height: 34px;
	padding-left: 15px;
}
.drop-layer-foot .goodsAmount{
	float: left;
}
.drop-layer-foot a{
	float: left;
	margin: 6px 0 0 75px;
	display: block;
	padding: 2px 5px;
	background: #c81623;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

































