.sidebar {height: 100%;position: fixed;right: 0;top: 0;z-index: 1600;}
.sidebar .rtbar {background-color: #0068b6;float: left;height: 100%;width: 35px;}
.sidebar .rtbar_cart {background-color: #fff;border: 1px solid #f5f5f5;box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);float: left;height: 100%;padding: 15px;width: 350px;}
.sidebar .rtbar .rtbar-tab {
    color: #fff;
    margin: 20px auto;
    position: relative;
    width: 35px;
}
.sidebar .rtbar .rtbar-tab:hover {
    background-color: #37a0db;
    color: #000;
    cursor: pointer;
}
.sidebar .rtbar .rtbar-tab .rtbar-arrowbuy {
    color: #fff;
    display: none;
    font-family: "ו";
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: 8px;
    width: 16px;
}
.sidebar .rtbar .rtbar-tab .rtbar-arrow, .sidebar .rtbar .rtbar-tab-avatar .rtbar-arrow {
    color: #494949;
    font-family: "ו";
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    opacity: 0;
    position: absolute;
    right: -8px;
    text-align: center;
    top: 8px;
    width: 16px;
}
.sidebar .rtbar .rtbar-tab-avatar .rtbar-arrow {
    color: #fff;
    opacity: 1;
    top: 24px;
}
.sidebar .rtbar .rtbar-tab .rtbar-hint {
    background-color: #494949;
    color: #fff;
    display: none;
    height: 35px;
    line-height: 35px;
    opacity: 0;
    position: absolute;
    right: 75px;
    text-align: center;
    top: -1px;
    width: 90px;
}
.sidebar .rtbar .rtbar-tab .title {
    color: #fff;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 16px;
    margin-left: 7px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    top: 40px;
    width: 20px;
}
.sidebar .rtbar .rtbar-tab .rtbar-img {
    color: #f6ab00;
    left: 0;
    margin-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    top: 0;
    width: 35px;
}
.sidebar .rtbar .rtbar-tab .rtbar-img:hover {
    color: #fff;
}
.sidebar .rtbar .rtbar-cart .amount {
    background-color: #c40000;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 8px;
    min-width: 14px;
    padding: 0 3px;
    text-align: center;
    width: 20px;
}
.sidebar .rtbar .rtbar-top a {
    color: #fff;
}



.rtbar-cart-recommend {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
    height: 264px;
    padding: 15px;
    position: absolute;
    right: 35px;
    top: 0;
    width: 534px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-arr {
    color: #fff;
    font-family: "ו";
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: -9px;
    text-align: center;
    top: 51px;
    width: 16px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-close {
    text-align: right;
}
.rtbar-cart-recommend p {
    margin: 0;
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd {
    border-bottom: 1px dotted #ccc;
    height: 45px;
    overflow: hidden;
    width: 500px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-logo {
    color: #0068b6;
    font-size: 30px;
    left: 19px;
    line-height: 60px;
    position: absolute;
    top: 20px;
    width: 34px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-p {
    color: #666;
    margin: 0 0 0 50px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-hint {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}
.rtbar-cart-recommend .rtbar-cart-recommend-hd .rtbar-cart-recommend-hd-other {
    margin: 0;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd {
    margin-top: 10px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-p {
    color: #666;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-p a {
    color: #38b;
    float: right;
    margin-right: 24px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .rtbar-cart-recommend-bd-list {
    height: 122px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 500px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item {
    display: block;
    float: left;
    overflow: hidden;
    width: 125px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item a {
    border: 1px solid #d3d3d3;
    display: block;
    height: 120px;
    overflow: hidden;
    width: 120px;
}
.rtbar-cart-recommend .rtbar-cart-recommend-bd .cart-recommend-bd-item p {
    background: #000 none repeat scroll 0 0;
    bottom: 1px;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    width: 120px;
}
.rtbar .rtbar-tab-avatar {
    margin-top: 70px;
    position: relative;
}
.rtbar .rtbar-avatar {
    border-radius: 13px;
    height: 26px;
    left: 0;
    margin-left: 3px;
    top: 0;
    width: 26px;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
    height: 130px;
    left: -280px;
    padding: 20px 30px 30px;
    position: absolute;
    top: -20px;
    width: 280px;
    z-index: 100;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-close {
    color: #999;
    text-align: right;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-close i:hover {
    color: #37a0db;
    cursor: pointer;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-title {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login {
    margin-top: 10px;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type="password"], .rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type="text"] {
    border-radius: 2px;
    text-indent: 5px;
    width: 220px;
}
.rtbar .rtbar-tab-avatar .rtbar-mbrcenter .rtbar-login input[type="submit"] {
    height: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 220px;
}
