@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, p, th, td {
    padding: 0;
    margin: 0;
}
body {
    font-style:normal;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-text-size-adjust: none;
    height: 100%;
    color: #051b28;
    background:#f3f3f3;
    overflow-x:hidden;
    -webkit-box-sizing: border-box;  box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
}
html{
	overflow-x: hidden; 
	font-size: 10px;
}
ul,ol{
	list-style: none;
}
.hide{ 
	display: none; 
}
.show{
	display: in; 
}
a{
	text-decoration:none;
	color:#051b28;
}
.clear{ 
	clear:both;
	overflow:hidden;
}
.clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
li{
	list-style:none;
}
div,img,a,li{
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,input,textarea{  
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-user-modify:read-write-plaintext-only;
}
input::-webkit-input-placeholder{
	color:#AAAAAA;
}
input:focus::-webkit-input-placeholder{
	color:#EEEEEE;
}
pre{
	white-space: pre-wrap; 
	word-wrap: break-word;
}
.scale{  
	position: relative;
}
.scale:after{  
	content:"";  
	position: absolute;  
	bottom:-1px;  
	left:0px;
	right:0px;
	border-bottom:1px solid #8c8c8c;
	-webkit-transform:scaleY(.5);
	-webkit-transform-origin:0 0;
}
input[type=”button”], input[type=”submit”], input[type=”reset”] {
	-webkit-appearance: none;
}
button {
    font: 400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
}
input[type="search"] {
	box-sizing: initial;
}
input[type="checkbox"] {
    display: none;
}
[id^="checkbox-1-"] + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius:2px;
    display: inline-block;
}
[id^="checkbox-1-"]:checked + label {
    background: #ce362c url(../images/top3.png)  center no-repeat;
    -webkit-background-size:12px auto;
    border: 1px solid #ce362c;
    color: #243441;
}
[class^="checkbox-1-"] + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius:2px;
    display: inline-block;
}
[class^="checkbox-1-"]:checked + label {
    background: #ce362c url(../images/top3.png)  center no-repeat;
    -webkit-background-size:12px auto;
    border: 1px solid #ce362c;
    color: #243441;
}
.danger{
	color: #ce362c;
}
.subInfo{
	color:#787878;
}
.ci-count{
	color: #fff;
	position: absolute;
    display: inline-block;
    padding: 1px 2px;
    font-size: 1rem;
    line-height: 12px;
    background-color: #e60012;
    border-radius: 10px;
    min-width: 12px;
    text-align: center;
}
.btnCommon{
	border: 0;
	text-align: center;
	width: 96%;
	padding: 8px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	font-size: 1.6rem;
	color: #fff;
}
.btnOrange{
	background: #f08200;
}
.btnDanger{
	background: #ce362c;
}
.highLight{
	color: #fff;
}
/*****************头部start*****************/
.header{
	height:50px; 
	background:#FEFEFE;
	width:100%;
	position:fixed; 
	z-index:3;
    border-width: 0px 0px 1px 0px;
    box-sizing: border-box;
}
.logo {
	width: 120px;
	margin:10px auto;
	overflow: hidden;
}
.logo img{
	width:120px;
}
.header .indexheadleft{
	float: left;
	margin: 5px 0 0 5px;
}
.header .indexheadright{
	float:right;
	margin: 5px 5px 0 0;
}
.indexheadimg{
	width: 28px;
}
.header .headleft{
	width: 20%; 
	float: left;
	line-height:50px;
}
.header .headright{
	width: 12%; 
	float:right;
	line-height:50px;
}
.header .back{
	font-size: 1.5em;
	position: relative;
	padding-left: 1.2em;
	padding-right: 1em; 
	padding-top: 12px;
}
.header .back:active{
	color: #eee;
}
.header .headTitle{
	font-size: 1.6rem; 
	line-height:50px; 
	width: 60%;
	text-align: center; 
	color: #051b28;  
	float: left;
	color: #000;
	font-weight: bold;
}
.header .headright img{
	width: 50%;
}
/*****************头部end*****************/

/*****************内容start*****************/
.main{
	width:100%; 
	padding-top:50px;
	bottom: 0px; 
	padding-bottom:60px;
	top: 0px;
	overflow-y:auto;
	overflow-x:hidden;
    z-index: 1;
    background: #f0f0f0;
}
.whitebg{
	background: #FFFFFF;
}
.banner img{
	width:100%;
}
.banner{
	overflow: hidden;
}
/*****************内容end*****************/
/****************尾部start****************/
.footbg{
	width:100%; 
	background:#282828; 
	overflow:hidden; 
	position:fixed; 
	bottom:0;z-index:1;
	height: 44px;
	color: white;
}
.foot{ 
	overflow: hidden;
}
.foot li{ 
	float:left; 
	width:20%; 
	text-align:center; 
	font-size:1.2rem; 
	margin-top: 7px; 
	color: #999999;
	margin-bottom: 5px;
}
.foot div{
	height: 20px;
}
.foot li img{
	width: 25%;
}
.footbg .foot .ci-count{
	top: 0;
}
.dbgwc{ 
	font-weight: normal; 
	margin-left: 6px;
}
.ftgwc span{
	position:absolute;
	padding: 1px 4px; 
	border-radius:100%; 
	background:#f15353; 
	color:#fff; 
	margin-left:18px; 
	margin-top:-2px; 
	line-height: 12px; 
	font-size:1rem;
}
@media only screen and (min-width:568px ) {
	.footbg{
		width:100%; 
		background:#282828; 
		overflow:hidden; 
		position:fixed; 
		bottom:0;z-index:1;
		height: 50px;
		color: white;
	}
	.foot li img{
		width: 20%;
	}
	.foot div{
		height: 25px;
	}
}
/****************尾部end****************/
/****************回顶部start****************/
#back-to-top{ 
	display:none;   
	width:38px; 
	height:38px; 
	position:fixed; 
	right:15px; 
	bottom: 6em; 
	_position:absolute;
	_bottom:auto; 	_top:expression(document.documentElement.clientHeight-140+documentElement.scrollTop +"px"); 
	z-index:50;
}
#back-to-top a{ 
	display:block; 
	width:38px; 
	height:38px; 
	background: url(../images/arrow-icon.png) no-repeat 0px 0px;
}
#back-to-top a:hover{ 
	background-position: -45px 0px;
}
/****************回顶部end****************/
/****************无数据start****************/
.searchno b{
	font-size: 1.5em;
	color: #dcdddd;
}
.searchno{
	width: 100px;
	text-align: center;
	margin: 5em auto;
}
/****************无数据end****************/
/*报错页面*/
/*.errorbag{width:100%;height:100%;background: url('/public/mobile/img/zanwushuju.png');}*/

