.banner_i{
	width: 100%; margin: 0 auto; padding: 0; background: #010101;
}
.subject{
	width: 100%; margin: 0 auto; padding: 0;
}
.subject img{
	width: 100%; margin: 0 auto; padding: 0; display: block;
}